.error-block {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - var(--header-height) - 0.625rem);
	min-height: calc(100dvh - var(--header-height) - 0.625rem);
}

.error-block::before {
	position: absolute;
	top: -42.75rem;
	left: -38.25rem;
	z-index: -1;
	content: "";
	width: 47rem;
	height: 131.5rem;
	background: radial-gradient(50% 50%, rgba(38, 98, 246, 0.3) 0%, rgba(38, 98, 246, 0) 100%);
	transform: rotate(32deg);
	pointer-events: none;
}
.error-block::after {
	content: "";
	position: absolute;
	top: -38.3125rem;
	right: -41.875rem;
	z-index: -1;
	width: 83rem;
	height: 83rem;
	background: radial-gradient(50% 50%, rgba(38, 98, 246, 0.3) 0%, rgba(38, 98, 246, 0) 100%);
	pointer-events: none;
	opacity: 0.3;
}
.error-block__wrapper {
	display: grid;
	grid-template-columns: 35rem 1fr;
	gap: 1.25rem;
	padding: 4.25rem 0 0;
}

.error-block__content {
	position: relative;
	z-index: 2;
	padding: 7.1875rem 0 0;
}
.error-block__title {
	margin: 0;
	font-family: var(--font-family-secondary);
	font-weight: 600;
	font-size: 2.8125rem;
	line-height: 130%;
	letter-spacing: -0.03em;
	color: var(--color-text-primary);
}
.error-block__description {
	margin: 2.5rem 0 0;
	font-family: var(--font-family-quinary);
	font-weight: 400;
	font-size: 1.4375rem;
	line-height: 130%;
	letter-spacing: -0.03em;
	color: rgba(255, 255, 255, 0.5);
}
.error-block__actions {
	display: flex;
	gap: 1.5rem;
	margin: 3.1875rem 0 0;
}
.error-block__media {
	--bg-width: 84.0625rem;
	--bg-height: 48.0625rem;
	position: relative;
	z-index: 1;
	min-height: var(--bg-height);
}
.error-block__bg {
	position: absolute;
	top: -4rem;
	left: -6.75rem;
	width: var(--bg-width);
	height: var(--bg-height);
	object-fit: contain;
	mix-blend-mode: lighten;
}

@media (min-width: 1200) and (max-height: 599px) {
	.error-block__wrapper {
		padding: 2rem 0 0;
	}
}

@media (min-width: 1200) {
	.error-block__actions .button {
		font-size: 0.875rem;
		padding-left: 1.5625rem;
		padding-right: 1.5625rem;
	}
}
@media (max-width: 1199px) {
	.error-block::before {
		top: -72.8125rem;
		left: -20.25rem;
	}
	.error-block::after {
		width: 66.375rem;
		height: 66.375rem;
	}
	.footer::before {
		top: -13rem;
	}
	.error-block__wrapper {
		padding: 0.5rem 0 1.5rem;
		grid-template-columns: repeat(2, 1fr);
	}
	.error-block__content {
		padding: 3rem 0 0;
	}
	.error-block__title {
		font-size: 1.875rem;
	}
	.error-block__description {
		margin: 1.875rem 0 0;
		font-size: 1.25rem;
	}
	.error-block__actions {
		gap: 1.25rem;
		margin: 2.5rem 0 0;
	}
	.error-block__media {
		--bg-width: 56vw;
		--bg-height: 32.1vw;
	}
	.error-block__bg {
		top: 0;
		left: -6vw;
	}
}
@media (max-width: 991px) {
	.error-block::after {
		display: none;
	}
	.error-block__wrapper {
		padding: 1.5rem 0 3.5rem;
		grid-template-columns: 1fr;
	}
	.error-block__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
		text-align: center;
		order: 2;
	}
	.error-block__title {
		font-size: 1.5rem;
	}
	.error-block__description {
		margin: 1.25rem 0 0;
		font-size: 1rem;
	}
	.error-block__actions {
		gap: 1rem;
		margin: 1.5625rem 0 0;
	}
	.error-block__media {
		--bg-width: 56vw;
		--bg-height: 32.1vw;
	}
	.error-block__bg {
		left: 50%;
		transform: translate(-50%, 0);
	}
}
@media (max-width: 767px) {
	.error-block::before {
		opacity: 0.5;
	}

	.error-block__wrapper {
		padding: 2.5rem 0 3.5rem;
	}

	.error-block__title {
		font-size: 1.375rem;
	}
	.error-block__description {
		font-size: 0.875rem;
	}
	.error-block__actions {
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.75rem;
	}
}
@media (max-width: 419px) {
	.error-block__actions .button {
		width: 100%;
		flex: 0 0 100%;
	}
}
