/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
	font-family: 'Syne';
	src: url('../fonts/syne/Syne-Regular.eot');
	src: local('Syne Regular'), local('Syne-Regular'),
		url('../fonts/syne/Syne-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/syne/Syne-Regular.woff2') format('woff2'),
		url('../fonts/syne/Syne-Regular.woff') format('woff'),
		url('../fonts/syne/Syne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.about-title {
	font-family: var(--font-family-secondary);
	font-weight: 900;
	font-size: 3.125rem;
	line-height: 130%;
	letter-spacing: normal;
	text-transform: uppercase;
}



/* About cards */
.about-cards {
	margin: 18.3125rem 0 0;
}

.about-cards__container {}

.about-cards__list {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1.25rem 1fr;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.25rem;
}

.about-cards__card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: end;
	min-height: 50.0625rem;
	padding: 4rem 7.5rem 2.875rem 3.125rem;
	border: 0.0625rem solid var(--white-100);
	border-radius: 1.25rem;
	overflow: hidden;
}

.about-cards__card::before {
	content: '';
	position: absolute;
	inset: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	z-index: 1;
	pointer-events: none;
}

.about-cards__title {
	position: relative;
	z-index: 2;
	margin: 0;
	font-family: var(--font-family-secondary);
	font-weight: 900;
	font-size: 3rem;
	line-height: 130%;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	color: #f2fbfb;
}

.about-cards__img-wrapper--delivery {
	position: absolute;
	inset: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
}

.about-cards__img-wrapper--delivery::before {
	content: '';
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
	pointer-events: none;
}

.about-cards__img {
	position: absolute;
	inset: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.stats-block {
	margin: 17.25rem 0 0;
}

.stats-block__list {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 5.5rem 1fr 5.5rem 1fr 5.5rem 1fr;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
	gap: 5.5rem;
}

.stats-block--secondary .stats-block__list {
	gap: 4rem;
}

.stats-block__card {
	list-style: none;
}

.stats-block__card-content {
	font-family: var(--font-family-quinary);
	color: var(--color-text-primary);
}

.stats-block__card-number {
	font-weight: 300;
	font-size: 6rem;
	line-height: 1;
}

.stats-block__card-label {
	font-weight: 600;
	font-size: 1.625rem;
	line-height: 120%;
	letter-spacing: normal;
}

.stats-block__card-description {
	padding: 0.875rem 0 0;
	margin: 0.75rem 0 0;
	font-weight: 400;
	font-size: 1.0625rem;
	line-height: 140%;
	color: rgba(255, 255, 255, 0.5);
	border-top: 0.0625rem solid var(--white-100);
	text-wrap-style: balance;
}

/* Advantages */
.advantages {
	margin: 17.625rem 0 0;
}

.advantages__list {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1.25rem 1fr;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.25rem;
}

.advantages__card {
	overflow: hidden;
	padding: 2.5rem 3.75rem 2.6875rem;
	border-radius: 3.25rem;
	border: 0.0625rem solid var(--white-100);
}

.advantages__card-title {
	margin: 0;
	font-family: var(--font-family-secondary);
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 150%;
	text-transform: uppercase;
	letter-spacing: normal;
}

.advantages__card-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 0.4375rem;
	margin: 3.3125rem 0 0;
}

.advantages__card-number-wrapper {
	--number-width: 17rem;
	position: relative;
	z-index: -1;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 var(--number-width);
	flex: 0 0 var(--number-width);
	width: var(--number-width);
	height: 6.25rem;
}

.advantages__card-number-wrapper--right {
	left: auto;
	right: -1.9375rem;
}

.advantages__card-number {
	position: absolute;
	left: -2.8125rem;
	top: -3.25rem;
	z-index: 1;
	font-family: "Syne", sans-serif;
	font-weight: 400;
	font-size: 18.75rem;
	line-height: 1;
	background: -webkit-gradient(linear, left bottom, left top, from(#42697e), color-stop(49.04%, #29363f), to(#000));
	background: -o-linear-gradient(bottom, #42697e 0%, #29363f 49.04%, #000 100%);
	background: linear-gradient(360deg, #42697e 0%, #29363f 49.04%, #000 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.advantages__card-description {
	font-family: var(--font-family-quinary);
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 167%;
	letter-spacing: normal;
}

.our-goal {
	margin: 15.75rem 0 0;
}

.our-goal__container {}

.container {}

.our-goal__card {
	position: relative;
	overflow: hidden;
	min-height: 48.25rem;
	padding: 3.125rem 3.125rem 4.125rem;
	border: 0.0625rem solid #fff;
	border-radius: 1.25rem;
	background: var(--black-100) -webkit-gradient(linear, left bottom, left top, from(#42697e), color-stop(49.04%, #29363f), to(var(--black-100)));
	background: var(--black-100) -o-linear-gradient(bottom, #42697e 0%, #29363f 49.04%, var(--black-100) 100%);
	background: var(--black-100) linear-gradient(360deg, #42697e 0%, #29363f 49.04%, var(--black-100) 100%);
}

.our-goal__content {}

.our-goal__title {
	--h2-height: 2.3125rem;
	display: inline-block;
	height: var(--h2-height);
	margin: 0;
	padding: 0 0.625rem;
	font-family: var(--font-family-secondary);
	font-weight: 600;
	font-size: 1.5rem;
	line-height: var(--h2-height);
	letter-spacing: -0.03em;
	border-radius: 0.625rem;
	color: var(--black-100);
	background: var(--white-100);
}

.our-goal__description {
	margin: 1.5rem 0 0;
	font-family: var(--font-family-secondary);
	font-weight: 600;
	font-size: 2rem;
	line-height: 140%;
	letter-spacing: -0.03em;
}

.our-goal__secondary-description {
	max-width: 32.5rem;
	margin: 1.4375rem 0 0;
	font-family: var(--font-family-quinary);
	font-weight: 400;
	font-size: 1.0625rem;
	line-height: 140%;
	letter-spacing: -0.03em;
	color: rgba(255, 255, 255, 0.5);
}

.our-goal__signature {
	margin: 4.375rem 0 0;
	font-family: var(--font-family-quinary);
	font-weight: 500;
	font-size: 0.8125rem;
	line-height: 1.4;
	letter-spacing: -0.03em;
}

.our-goal__disclaimer {
	margin: 13.4375rem 0 0;
	font-family: var(--font-family-quinary);
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 150%;
	letter-spacing: -0.02em;
	color: rgba(255, 255, 255, 0.5);
}

.our-goal__media {
	position: absolute;
	bottom: 0;
	right: 3.0625rem;
	width: 64.6875rem;
	height: 48.25rem;
}

.our-goal__media::before {
	content: "";
	position: absolute;
	top: -49.5rem;
	right: -70.375rem;
	z-index: 1;
	width: 188.875rem;
	height: 132.1875rem;
	background: url(../img/hero/light-sparkles.png) center / contain;
	pointer-events: none;
}

.our-goal__media-image {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 64.6875rem;
	height: 57.125rem;
	-o-object-fit: contain;
	object-fit: contain;
}

.our-goal__content-inner {
	position: relative;
	z-index: 3;
	max-width: 40.75rem;
}


/* Clients reviews */
.clients-reviews {
	margin: 15.875rem 0 0;
}

.clients-reviews__container {}

.container {}

.clients-reviews__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 1.875rem;
	margin: 0 0 4.375rem;
}

.clients-reviews__title {
	margin: 0;
}

.about-title {}

.clients-reviews__navigation {}

.slider-nav-button {}

.slider-nav-button--prev {}

.slider-nav-button__icon {}

.slider-nav-button--next {}

.clients-reviews__slider-wrapper {}

.clients-reviews__slider {
	--slider-gap: 1.25rem;
	margin: 0 calc(var(--slider-gap) / -2);
	overflow: visible;
}

.clients-reviews__slide {
	width: 44.375rem;
	height: auto;
	-webkit-transition: opacity 0.6s ease, z-index 0s, -webkit-transform 0.6s ease;
	transition: opacity 0.6s ease, z-index 0s, -webkit-transform 0.6s ease;
	-o-transition: transform 0.6s ease, opacity 0.6s ease, z-index 0s;
	transition: transform 0.6s ease, opacity 0.6s ease, z-index 0s;
	transition: transform 0.6s ease, opacity 0.6s ease, z-index 0s, -webkit-transform 0.6s ease;
}

.clients-reviews__card {
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	padding: 4.375rem 3.75rem;
	border: 0.0625rem solid var(--white-100);
	border-radius: 3.125rem;
	background: var(--black-100);
}

.clients-reviews__card--light {
	background: #dedee0;
	border: none;
	color: #1c1a1a;
}

.clients-reviews__card--accent {
	background: var(--color-accent) -webkit-gradient(linear, left bottom, left top, from(#42697e), color-stop(49.04%, #29363f), to(var(--black-100)));
	background: var(--color-accent) -o-linear-gradient(bottom, #42697e 0%, #29363f 49.04%, var(--black-100) 100%);
	background: var(--color-accent) linear-gradient(360deg, #42697e 0%, #29363f 49.04%, var(--black-100) 100%);
	border: none;
}

.clients-reviews__card-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	max-width: 25.0625rem;
}

.clients-reviews__card-title {
	margin: 0;
	font-family: var(--font-family-secondary);
	font-weight: 600;
	font-size: 1.875rem;
	line-height: 150%;
	text-transform: uppercase;
	color: inherit;
	text-wrap-style: balance;
}

.clients-reviews__card-quote {
	margin: 1.25rem 0 2.8125rem;
}

.clients-reviews__card-quote-text {
	margin: 0;
	font-family: var(--font-family-quinary);
	font-weight: 400;
	font-size: 1.0625rem;
	line-height: 1.6;
	color: inherit;
	letter-spacing: normal;
}

.clients-reviews__card-quote-footer {}

.clients-reviews__card-quote-author {}

.clients-reviews__client-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1.25rem;
	margin: auto 0 0;
}

.clients-reviews__client-image {
	--avatar-size: 3.125rem;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 var(--avatar-size);
	flex: 0 0 var(--avatar-size);
	width: var(--avatar-size);
	height: var(--avatar-size);
	border-radius: 50%;
	-o-object-fit: cover;
	object-fit: cover;
}

.clients-reviews__client-data {
	font-family: var(--font-family-quinary);
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 167%;

}

.clients-reviews__client-name {
	color: inherit;
}

.clients-reviews__client-position {
	color: rgba(255, 255, 255, 0.5);
}

.clients-reviews__card--light .clients-reviews__client-position {
	color: #1c1a1a;
}

.clients-reviews__navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 1.375rem;
}

.slider-nav-button {
	--btn-size: 6.5625rem;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 var(--btn-size);
	flex: 0 0 var(--btn-size);
	width: var(--btn-size);
	height: var(--btn-size);
	border: 0.0625rem solid var(--white-100);
	border-radius: 6.25rem;
	color: var(--white-100);
	background: var(--black-100);
	-webkit-transition: background-color var(--transition-base), color var(--transition-base);
	-o-transition: background-color var(--transition-base), color var(--transition-base);
	transition: background-color var(--transition-base), color var(--transition-base);
}

.slider-nav-button__icon {
	--icon-size: 1.3125rem;
	width: var(--icon-size);
}


.media--about {
	margin: 15.75rem 0 0;
	padding: 0;
}

.about-title {
	margin: 0;
}

.media::before,
.media::after {
	display: none;
}

.media-card__video {
	padding-bottom: 47%;
}

.media-card {
	border: 0.0625rem solid var(--white-100);
	background: var(--black-100);
}

.media-card__photo-img--argumenty-i-fakty {
	top: 50%;
	left: 4.75rem;
	width: 23.1875rem;
	height: 6.375rem;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.media-card__photo-img--forbes {
	top: 50%;
	left: 4.75rem;
	width: 23.1875rem;
	height: 5.75rem;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* Partners */
.partners {
	margin: 15.625rem 0 0;
}

.partners__container {}

.container {}

.partners__title {
	margin: 0 0 4.4375rem;
}

.about-title {}

.partners__slider-wrapper {
	--slider-gap: 4.375rem;
	margin: 0 calc(var(--slider-gap) / -2);
}

.partners__slider {
	overflow: visible;
}

.partners__slider+.partners__slider {
	margin-top: 4.4375rem;
}

.swiper {}

.swiper-wrapper {}

/* Бегущая строка партнёров */
.marquee-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.marquee-forward {
	-webkit-animation-name: marquee-left;
	animation-name: marquee-left;
}

.marquee-reverse {
	-webkit-animation-name: marquee-right;
	animation-name: marquee-right;
}

@-webkit-keyframes marquee-left {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}

@keyframes marquee-left {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}

@-webkit-keyframes marquee-right {
	0% {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes marquee-right {
	0% {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

.partners__slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: auto;
	height: auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 calc(var(--slider-gap) / 2);
}

.partners__slide.swiper-slide {
	width: auto;
	-webkit-transition: opacity 0.6s ease, z-index 0s, -webkit-transform 0.6s ease;
	transition: opacity 0.6s ease, z-index 0s, -webkit-transform 0.6s ease;
	-o-transition: transform 0.6s ease, opacity 0.6s ease, z-index 0s;
	transition: transform 0.6s ease, opacity 0.6s ease, z-index 0s;
	transition: transform 0.6s ease, opacity 0.6s ease, z-index 0s, -webkit-transform 0.6s ease;
}

.partners__slide-img {
	max-height: 2.0625rem;
	-o-object-fit: contain;
	object-fit: contain;
}

.partners__slide-img--microbt {
	max-height: 4.5625rem;
}

/* Question */
.question {
	position: relative;
	padding: 36.6rem 0 37rem 5.1rem;
}


.question__wrapper {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.question__content {
	position: relative;
	z-index: 4;
	-webkit-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	transform: rotate(10deg);
}

.question__title {
	text-align: center;
}

.question__description {
	max-width: 53.125rem;
	margin: 2.9rem auto 0;
	font-family: var(--font-family-quinary);
	font-weight: 400;
	font-size: 1.625rem;
	line-height: 140%;
	text-align: center;
	color: var(--white-100);
}

.question__form {
	max-width: 34.7125rem;
	margin: 4.65rem auto 0;
}


.question__chat-img1,
.question__chat-img2,
.question__chat-img3,
.question__chat-img4,
.question__chat-img5,
.question__chat-img6,
.question__chat-img7 {
	position: absolute;
	z-index: 2;
	-o-object-fit: contain;
	object-fit: contain;
	pointer-events: none;
}

.question__chat-img1 {
	top: -22.1rem;
	left: 18.9rem;
	width: 26.9375rem;
	height: 34.4375rem;
}

.question__chat-img2 {
	top: -19rem;
	left: 59rem;
	z-index: 3;
	width: 28.6875rem;
	height: 33.125rem;
}

.question__chat-img3 {
	top: -0.2rem;
	left: 68.4rem;
	width: 34.625rem;
	height: 33.4375rem;
}

.question__chat-img4 {
	top: 25.4rem;
	left: 62.8rem;
	width: 33.3125rem;
	height: 33.8125rem;
}

.question__chat-img5 {
	top: 40.3rem;
	left: 39.6rem;
	width: 13.375rem;
	height: 15.125rem;
}

.question__chat-img6 {
	top: 27rem;
	left: 3.1rem;
	width: 28.375rem;
	height: 22.375rem;
}

.question__chat-img7 {
	top: -8.3rem;
	left: -0.7rem;
	width: 29.3125rem;
	height: 33.4375rem;
}

.question__bg-line {
	position: absolute;
	top: -2.1rem;
	left: 0;
	right: 0;
	z-index: 1;
	width: 100%;
	height: 116.1875rem;
}

.question__bg-gradient1 {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
	width: 58.0625rem;
	height: 68.1875rem;
}

.question__bg-gradient2 {
	position: absolute;
	bottom: 24rem;
	right: 0;
	z-index: 0;
	width: 53.625rem;
	height: 68.125rem;
}

.question__policy {
	margin: 1rem 0 0 2.5rem;
}

/* Footer */
.field {
	position: relative;
	overflow: hidden;
	border-radius: 2.875rem;
}

.field__input {
	width: 100%;
	height: 4.6rem;
	padding: 1.625rem 2.5rem 1.5rem;
	font-size: 1.25rem;
	background: var(--white-10);
	color: var(--white-100);
	border: none;
	border-radius: 2.875rem;
}

textarea.field__input {
	min-height: 10.8rem;
	padding: 2.2rem 2.5rem;
}


.field--with-btn .field__input {
	padding: 1.625rem 17.3rem 1.5rem 2.5rem;
}

.field__input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.field__input::-moz-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.field__input:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.field__input::-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.field__input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.field__input:focus-visible {
	outline: 0.0625rem solid var(--color-accent);
	outline-offset: -0.0625rem;
	border-color: transparent;
}

.field__btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	top: 0.375rem;
	bottom: 0.375rem;
	right: 0.4375rem;
	font-family: var(--font-family-secondary);
	font-size: 1.125rem;
	font-weight: 600;
	z-index: 1;
	padding: 0 2.9rem;
	border-radius: 6.25rem;
	background: var(--color-accent);
	color: var(--color-text-primary);
	text-align: center;
	letter-spacing: normal;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

.checkbox__input {
	display: none;
	opacity: 0;
	visibility: hidden;
}

.checkbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1rem;
	font-family: var(--font-family-quinary);
	font-weight: 300;
	font-size: 1rem;
	line-height: 140%;
	letter-spacing: -0.01em;
}

.checkbox__container {
	position: relative;
	display: block;
	border: 0.0625rem solid rgba(255, 255, 255, 0.25);
	border-radius: 0.25rem;
	width: 1.5rem;
	height: 1.5rem;
}

.checkbox__container::before {
	position: absolute;
	top: 50%;
	left: 50%;
	content: "";
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	background: url("../img/checkbox.svg") center / 0.875rem 0.625rem no-repeat;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
	-o-transition: opacity 0.3s ease, visibility 0.3s ease;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.checkbox__input:checked+.checkbox__container::before {
	opacity: 1;
	visibility: visible;
}

.checkbox__label {
	display: inline-block;
	padding: 0;
}

.checkbox a {
	color: var(--color-accent);
	text-decoration: none;
}


@media (hover: hover) {
	.slider-nav-button:hover {
		background: var(--white-100);
		color: var(--black-100);
	}

	.checkbox a:hover {
		text-decoration: underline;
	}

	.field__btn:hover {
		background: var(--color-accent-hover);
	}
}

.field__btn:active {
	background: var(--color-accent-hover);
}

.slider-nav-button:active {
	background: var(--white-100);
	color: var(--black-100);
}

@media (min-width: 1200px) {
	.hero__media--about-us {
		--image-width: 54.6875rem;
		top: -2.5rem;
		right: 6.1875rem;
	}

	.hero__media--about-us::before {
		right: -73.5625rem;
	}

	.clients-reviews__card::before {
		content: '';
		position: absolute;
		inset: 0;
		background: -webkit-gradient(linear, left top, right top, from(rgba(26, 26, 26, 0)), color-stop(27%, rgba(0, 0, 0, 0.54)), to(rgba(0, 0, 0, 1)));
		background: -o-linear-gradient(left, rgba(26, 26, 26, 0) 0%, rgba(0, 0, 0, 0.54) 27%, rgba(0, 0, 0, 1) 100%);
		background: linear-gradient(90deg, rgba(26, 26, 26, 0) 0%, rgba(0, 0, 0, 0.54) 27%, rgba(0, 0, 0, 1) 100%);
		z-index: 1;
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: opacity var(--transition-base), visibility var(--transition-base);
		-o-transition: opacity var(--transition-base), visibility var(--transition-base);
		transition: opacity var(--transition-base), visibility var(--transition-base);
	}

	.clients-reviews__card--accent::before {
		background: -webkit-gradient(linear, left top, right top, from(rgba(41, 54, 63, 0)), color-stop(27%, rgba(29, 38, 44, 0.7)), to(#1a2329));
		background: -o-linear-gradient(left, rgba(41, 54, 63, 0) 0%, rgba(29, 38, 44, 0.7) 27%, #1a2329 100%);
		background: linear-gradient(90deg, rgba(41, 54, 63, 0) 0%, rgba(29, 38, 44, 0.7) 27%, #1a2329 100%);
	}

	.clients-reviews__card--light::before {
		background: -webkit-gradient(linear, left top, right top, from(rgba(26, 26, 26, 0)), color-stop(27%, rgba(221, 222, 224, 0.5)), to(#dedee0));
		background: -o-linear-gradient(left, rgba(26, 26, 26, 0) 0%, rgba(221, 222, 224, 0.5) 27%, #dedee0 100%);
		background: linear-gradient(90deg, rgba(26, 26, 26, 0) 0%, rgba(221, 222, 224, 0.5) 27%, #dedee0 100%);
	}

	.swiper-slide-active .clients-reviews__card::before {
		opacity: 1;
		visibility: visible;
	}

	.media-card__title {
		font-size: 1.875rem;
	}

	.media-card__label {
		padding: 0.4063rem 0.5625rem;
	}

	.media-list {
		gap: 1.25rem;
		margin: 5.625rem 0 0;
	}

	.media-card__description {
		font-family: var(--font-family-quinary);
		max-width: 43.75rem;
		margin: 0.1875rem 0 0;
		font-size: 1.0625rem;
		line-height: 130%;
		letter-spacing: -0.03em;
	}

	.title {
		font-size: 3.125rem;
		font-weight: 600;
		line-height: 120%;
		letter-spacing: -0.02em;
	}

	.question__description {
		font-size: 1.5rem;
		line-height: 140%;
		letter-spacing: normal;
	}

	.field__input {
		font-size: 1.125rem;
	}

	.checkbox__label {
		font-size: 0.875rem;
		letter-spacing: normal;
	}
}

@media (max-width: 1199px) {
	.about-cards {
		margin: 7.5rem 0 0;
	}

	.about-cards__list {
		gap: 1rem;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

	.about-cards__card {
		min-height: 23.125rem;
		padding: 3rem var(--container-padding) 2.25rem;
		border-radius: 1.125rem;
	}

	.about-cards__title {
		font-size: 2.0625rem;
		line-height: 125%;
		text-wrap-style: balance;
	}

	.advantages {
		margin: 7.5rem 0 0;
	}

	.advantages__list {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	.advantages__card {
		padding: 2.5rem var(--container-padding);
		border-radius: 2rem;
	}

	.advantages__card-title {
		font-size: 1.125rem;
		line-height: 145%;
	}

	.advantages__card-body {
		margin: 2rem 0 0;
		gap: 0.75rem;
	}

	.advantages__card-number-wrapper {
		--number-width: 12.5rem;
		height: 3.75rem;
	}

	.advantages__card-number-wrapper--right {
		right: -1.375rem;
	}

	.advantages__card-number {
		left: -1.125rem;
		top: -2.25rem;
		font-size: 11.875rem;
	}

	.advantages__card-description {
		font-size: 1rem;
		line-height: 160%;
	}

	.stats-block {
		margin: 6.25rem 0 0;
	}

	.stats-block__list {
		-ms-grid-columns: 1fr 2.5rem 1fr;
		grid-template-columns: repeat(2, 1fr);
		gap: 2.5rem;
	}

	.stats-block__card-number {
		font-size: 3.125rem;
	}

	.stats-block__card-label {
		margin: 0.25rem 0 0;
		font-size: 1.125rem;
	}

	.stats-block__card-description {
		padding: 0.875rem 0 0;
		margin: 0.75rem 0 0;
		font-size: 0.875rem;
	}

	.our-goal {
		margin: 7.5rem 0 0;
	}

	.our-goal__card {
		min-height: 32rem;
		padding: 2.5rem var(--container-padding) 3rem;
		border-radius: 1.25rem;
	}

	.our-goal__title {
		--h2-height: 2rem;
		font-size: 1.25rem;
		border-radius: 0.5rem;
	}

	.our-goal__description {
		margin: 1.25rem 0 0;
		font-size: 1.5rem;
	}

	.our-goal__secondary-description {
		max-width: 26rem;
		margin: 1rem 0 0;
		font-size: 0.9375rem;
	}

	.our-goal__signature {
		margin: 2.5rem 0 0;
	}

	.our-goal__disclaimer {
		margin: 6rem 0 0;
	}

	.our-goal__media {
		right: 1rem;
		width: 32rem;
		height: 21rem;
	}

	.our-goal__media::before {
		top: -35.5rem;
		right: -47.375rem;
		width: 119rem;
		height: 82rem;
	}

	.our-goal__media-image {
		width: 32rem;
		height: 24rem;
	}

	.our-goal__content-inner {
		max-width: 100%;
	}

	.clients-reviews {
		margin: 7.5rem 0 0;
	}

	.clients-reviews__header {
		margin: 0 0 2.5rem;
	}

	.clients-reviews__navigation {
		gap: 1.375rem;
	}

	.clients-reviews__slider {
		--slider-gap: var(--container-padding);
	}

	.clients-reviews__slide {
		width: 80vw;
	}

	.clients-reviews__card {
		padding: 2.5rem var(--container-padding);
		border-radius: 2rem;
	}

	.clients-reviews__card-content {
		max-width: 100%;
	}

	.clients-reviews__card-title {
		font-size: 1.5rem;
		line-height: 140%;
	}

	.clients-reviews__card-quote {
		margin: 1rem 0 2rem;
	}

	.clients-reviews__card-quote-text {
		font-size: 0.9375rem;
	}

	.clients-reviews__client-info {
		gap: 1rem;
	}

	.clients-reviews__client-image {
		--avatar-size: 2.75rem;
	}

	.clients-reviews__client-data {
		font-size: 1rem;
	}

	.about-title {
		font-size: 2.5rem;
	}

	.slider-nav-button {
		--btn-size: 5rem;
	}

	.media--about {
		margin: 7.5rem 0 0;
	}

	.media-card__description br {
		display: none;
	}

	/* Partners */
	.partners {
		margin: 7.5rem 0 0;
	}

	.partners__title {
		margin: 0 0 3rem;
	}

	.partners__slider-wrapper {
		--slider-gap: 3rem;
	}

	.partners__slider+.partners__slider {
		margin-top: 3rem;
	}

	.partners__slide-img {
		max-height: 1.75rem;
	}

	.partners__slide-img--microbt {
		max-height: 3.5rem;
	}

	.checkbox {
		margin: 1rem 0 0;
	}

	.question {
		padding: 20rem 0 20rem;
	}

	.question__chat-img1 {
		top: -14rem;
		left: 50%;
		width: 16.1625rem;
		height: 20.6625rem;
		-webkit-transform: translate(-22rem, 0);
		-ms-transform: translate(-22rem, 0);
		transform: translate(-22rem, 0);
	}

	.question__chat-img2 {
		top: -13.5rem;
		left: 50%;
		width: 17.2125rem;
		height: 19.875rem;
		-webkit-transform: translate(4rem, 0);
		-ms-transform: translate(4rem, 0);
		transform: translate(4rem, 0);
	}

	.question__chat-img3 {
		top: -0.2rem;
		left: 50%;
		width: 20.775rem;
		height: 20.0625rem;
		-webkit-transform: translate(20rem, 0);
		-ms-transform: translate(20rem, 0);
		transform: translate(20rem, 0);
	}

	.question__chat-img4 {
		top: 19.4rem;
		left: 50%;
		width: 19.9875rem;
		height: 20.2875rem;
		-webkit-transform: translate(18rem, 0);
		-ms-transform: translate(18rem, 0);
		transform: translate(18rem, 0);
	}

	.question__chat-img5 {
		top: 34.8rem;
		left: 50%;
		width: 8.025rem;
		height: 9.075rem;
		-webkit-transform: translate(-4rem, 0);
		-ms-transform: translate(-4rem, 0);
		transform: translate(-4rem, 0);
	}

	.question__chat-img6 {
		top: 22rem;
		left: 50%;
		width: 17.025rem;
		height: 13.425rem;
		-webkit-transform: translate(-39rem, 0);
		-ms-transform: translate(-39rem, 0);
		transform: translate(-39rem, 0);
	}

	.question__chat-img7 {
		top: -5.3rem;
		left: 50%;
		width: 17.5875rem;
		height: 20.0625rem;
		-webkit-transform: translate(-42rem, 0);
		-ms-transform: translate(-42rem, 0);
		transform: translate(-42rem, 0);
	}

	.question__bg-line {
		display: none;
	}


	.question__content {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
	}

	.question__bg-gradient1 {
		bottom: 3rem;
		left: 50%;
		width: 34.8375rem;
		height: 40.9rem;
		-webkit-transform: translate(-46.2rem, 0);
		-ms-transform: translate(-46.2rem, 0);
		transform: translate(-46.2rem, 0);
	}

	.question__bg-gradient2 {
		bottom: 23rem;
		right: 50%;
		width: 32.175rem;
		height: 40.875rem;
		-webkit-transform: translate(46.2rem, 0);
		-ms-transform: translate(46.2rem, 0);
		transform: translate(46.2rem, 0);
	}
}

@media (max-width: 991px) {
	.stats-block__list {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

	.stats-block__card-description {
		text-wrap-style: initial;
	}


	.question {
		padding: 17rem 0 9rem;
	}

	.question__bg-gradient1,
	.question__bg-gradient2,
	.question__chat-img1,
	.question__chat-img2,
	.question__chat-img3,
	.question__chat-img4,
	.question__chat-img5,
	.question__chat-img7 {
		display: none;
	}

	.question__chat-img6 {
		top: -11rem;
		left: 50%;
		width: 13.6rem;
		height: 10.74rem;
		-webkit-transform: translate(-6.8rem, 0) rotate(-25deg);
		-ms-transform: translate(-6.8rem, 0) rotate(-25deg);
		transform: translate(-6.8rem, 0) rotate(-25deg);
	}
}

@media (max-width: 767px) {
	.about-cards {
		margin: 5rem 0 0;
	}

	.about-cards__list {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		gap: 0.75rem;
	}

	.about-cards__card {
		min-height: 16.25rem;
		padding: 1rem var(--container-padding);
		border-radius: 0.875rem;
	}

	.about-cards__title {
		font-size: 1.25rem;
		line-height: 130%;
	}

	.stats-block {
		margin: 5rem 0 0;
	}

	.advantages {
		margin: 5rem 0 0;
	}

	.advantages__list {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		gap: 0.875rem;
	}

	.advantages__card {
		position: relative;
		padding: 5rem var(--container-padding);
		border-radius: 1.25rem;
	}

	.advantages__card-title {
		font-size: 1rem;
		line-height: 150%;
	}

	.advantages__card-body {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		gap: 0.5rem;
		margin: 1rem 0 0;
	}

	.advantages__card-number-wrapper {
		position: static;
		height: auto;
		-webkit-box-flex: 1;
		-ms-flex: auto;
		flex: auto;
		width: auto;
	}

	.advantages__card-number-wrapper--right {
		right: 0;
	}

	.advantages__card-number {
		left: 0.75rem;
		top: 0.25rem;
		font-size: 3.75rem;
	}

	.advantages__card-description {
		font-size: 0.9375rem;
		line-height: 160%;
	}

	.stats-block__list {
		gap: 2rem;
	}

	.stats-block__card-number {
		font-size: 2.75rem;
	}

	.stats-block__card-label {
		margin: 0.375rem 0 0;
		font-size: 1rem;
	}

	.our-goal {
		margin: 5rem 0 0;
	}

	.our-goal__card {
		min-height: auto;
		padding: 1.5rem var(--container-padding) 0;
		border-radius: 1rem;
	}

	.our-goal__title {
		--h2-height: 1.75rem;
		font-size: 1rem;
		padding: 0 0.5rem;
	}

	.our-goal__description {
		margin: 1rem 0 0;
		font-size: 1.125rem;
		line-height: 135%;
	}

	.our-goal__secondary-description {
		max-width: 100%;
		margin: 0.875rem 0 0;
		font-size: 0.875rem;
	}

	.our-goal__signature {
		margin: 1.5rem 0 0;
		font-size: 0.75rem;
	}

	.our-goal__disclaimer {
		position: absolute;
		bottom: 0.875rem;
		right: var(--container-padding);
		z-index: 1;
		margin: 0;
	}

	.our-goal__media {
		position: relative;
		right: auto;
		width: 100%;
		height: auto;
		margin: -2.5rem 0 0;
	}

	.our-goal__media-image {
		position: relative;
		top: auto;
		left: auto;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		width: 100%;
		height: auto;
	}

	.our-goal__media::before {
		top: -43vw;
		right: -114vw;
		width: 300vw;
		height: 150vw;
	}

	.clients-reviews {
		margin: 5rem 0 0;
	}

	.clients-reviews__header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		gap: 1.5rem;
		margin: 0 0 1.5rem;
	}

	.clients-reviews__navigation {
		gap: 0.75rem;
	}

	.clients-reviews__slide {
		width: 85vw;
	}

	.clients-reviews__card {
		padding: 1.5rem var(--container-padding);
		border-radius: 1.25rem;
	}

	.clients-reviews__card-title {
		font-size: 1.125rem;
		line-height: 145%;
	}

	.clients-reviews__card-quote {
		margin: 0.75rem 0 1.5rem;
	}

	.clients-reviews__card-quote-text {
		font-size: 0.875rem;
		line-height: 1.5;
	}

	.clients-reviews__client-info {
		gap: 0.75rem;
	}

	.clients-reviews__client-image {
		--avatar-size: 2.25rem;
	}

	.clients-reviews__client-data {
		font-size: 0.875rem;
		line-height: 150%;
	}

	.about-title {
		font-size: 1.75rem;
		line-height: 125%;
	}

	.slider-nav-button {
		--btn-size: 3.125rem;
	}

	.slider-nav-button__icon {
		--icon-size: 0.75rem;
	}

	.media--about {
		margin: 5rem 0 0;
	}

	/* Partners */
	.partners {
		margin: 5rem 0 0;
	}

	.partners__title {
		margin: 0 0 2rem;
	}

	.partners__slider-wrapper {
		--slider-gap: 2rem;
	}

	.partners__slider+.partners__slider {
		margin-top: 1.5rem;
	}

	.partners__slide-img {
		max-height: 1.375rem;
	}

	.partners__slide-img--microbt {
		max-height: 2.75rem;
	}

	.marquee-wrapper {
		-webkit-animation-duration: 12s;
		animation-duration: 12s;
	}

	/* Question */
	.question {
		padding: 11rem 0 6rem;
	}

	.question__description {
		max-width: 100%;
		margin: 1.5rem auto 0;
		font-size: 1rem;
		line-height: 150%;
	}

	.question__form {
		max-width: 100%;
		margin: 2rem auto 0;
	}

	.question__chat-img6 {
		top: -7rem;
		width: 10rem;
		height: 7.9rem;
		-webkit-transform: translate(-5rem, 0) rotate(-25deg);
		-ms-transform: translate(-5rem, 0) rotate(-25deg);
		transform: translate(-5rem, 0) rotate(-25deg);
	}

	.question__policy {
		margin: 1rem 0 0 0;
	}

	.field__btn {
		padding: 0 1.5rem;
		font-size: 1rem;
	}
}

@media (max-width: 575px) {
	.checkbox {
		font-size: 1.2rem;
	}

	.field__input {
		height: 2.6rem;
		border-radius: 1.25rem;
		padding-left: var(--container-padding);
		padding-right: var(--container-padding);
		font-size: 0.875rem;
	}

	.field {
		border-radius: 1.25rem;
	}

	textarea.field__input {
		min-height: 7.8rem;
		padding: 1rem var(--container-padding);
	}

	.field--with-btn .field__input {
		padding-right: 10rem;
		padding-left: var(--container-padding);
	}

	.field__btn {
		padding: 0 0.8rem;
		font-size: 0.875rem;
	}
}

@media (max-width: 374px) {
	.field__input {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.field--with-btn .field__input {
		padding-right: 10.9rem;
	}

	.field__btn {}
}