.tg-banner {
	position: relative;
	padding: 0 0 4.5rem;
	margin: 0 0 4.375rem;
}

.tg-banner__container {
}

.tg-banner::after {
	content: "";
	position: absolute;
	top: 100%;
	left: var(--container-padding);
	right: var(--container-padding);
	width: calc(100% - var(--container-padding) * 2);
	height: 0.0625rem;
	pointer-events: none;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 50%,
		rgba(255, 255, 255, 0) 100%
	);
}

.tg-banner__card {
	position: relative;
	width: 100%;
	padding: 3rem 2.1875rem 2.6875rem;
	background: var(--color-card-background);
	border-radius: 1.875rem;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.tg-banner__close {
	position: absolute;
	top: 1.5625rem;
	right: 1.5625rem;
	z-index: 3;
	width: 1.5rem;
	height: 1.5rem;
	background: transparent;
	border: none;
	cursor: pointer;
	color: #505050;
	transition: color var(--transition-base);
}
.tg-banner__close-icon {
	width: 1.625rem;
	height: 1.625rem;
	display: block;
}
.tg-banner__content {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-family: var(--font-family-secondary);
	font-weight: 600;
	line-height: 1.3;
}
.tg-banner__subtitle {
	padding-right: 2rem;
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.5);
}
.tg-banner__title {
	font-size: 1.75rem;
	font-weight: 600;
	color: var(--color-text-primary);
	margin: 0;
}
.tg-banner__button {
	--btn-height: 2.5rem;
	align-self: flex-start;
	font-size: 0.75rem;
	padding: 0 2.625rem;
	margin-top: 1rem;
	letter-spacing: 0;
}
.tg-banner__bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: url("../img/banner-tg-bg.jpg") center/cover no-repeat;
	pointer-events: none;
}

.blog {
	margin: 2.9375rem 0rem 0;
}
.blog__container {
}
.blog__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.25rem;
	margin: 0 0 3.1875rem;
}
.blog__title {
	margin: 0;
	font-family: var(--font-family-secondary);
	font-weight: 600;
	font-size: 2.8125rem;
	line-height: 130%;
	letter-spacing: -0.03em;
	color: var(--color-text-primary);
}
.blog__title-icon {
	position: relative;
	top: -0.25rem;
	--icon-size: 2.1875rem;
	flex: 0 0 var(--icon-size);
	width: var(--icon-size);
	height: var(--icon-size);
}
.blog__search {
	position: relative;
}
.blog__search-input {
	width: 29.5rem;
	max-width: 100%;
	padding: 0.75rem 0.625rem 0.75rem 3.6875rem;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 130%;
	letter-spacing: -0.03em;
	color: #99999b;
	border: 0.0625rem solid #434343;
	border-radius: 0.625rem;
	background: var(--white-10);
	color: var(--color-text-primary);
}

.blog__search-input::placeholder {
	color: #99999b;
}

.blog__search-btn {
	position: absolute;
	top: 0.375rem;
	bottom: 0.375rem;
	left: 0.4375rem;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.625rem;
	padding: 0.625rem;
	background: #070809;
	color: var(--color-text-primary);
}

.blog__search-icon {
	--icon-size: 0.75rem;
	flex: 0 0 var(--icon-size);
	width: var(--icon-size);
	height: var(--icon-size);
}

.blog__slider {
	--slider-gap: 1.25rem;
	position: relative;
	padding: 0 0 2.8125rem;
}

.blog__swiper {
	overflow: visible;
}
.blog__grid {
	--blog-grid-cols: 3;
	display: grid;
	grid-template-columns: repeat(var(--blog-grid-cols), 1fr);
	gap: 1.25rem;
}

.blog-card {
	padding: 1.25rem;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	font-family: var(--font-family-quaternary);
	background: #121618;
	border-radius: 1.875rem;
	transition: background-color var(--transition-base);
}

.blog-card:hover {
	background: var(--white-100);
}

.blog-card__inner,
.blog-card__content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.blog-card__meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}
.blog-card__date {
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.5);
	transition: color var(--transition-base);
}
.blog-card__tag {
	--blog-card-tag-height: 1.5rem;
	display: flex;
	align-items: center;
	padding: 0 0.9375rem;
	height: var(--blog-card-tag-height);
	line-height: var(--blog-card-tag-height);
	background: #23292c;
	border-radius: 1.875rem;
	border: 0.0625rem solid #474747;
}
.blog-card__tag-inner {
	font-weight: 400;
	font-size: 0.875rem;
	color: var(--color-text-primary);
	letter-spacing: 0;
}
.blog-card__link {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 0.5625rem;
	color: var(--color-text-primary);
	transition: color var(--transition-base);
}
.blog-card__title {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.4;
	margin: 0;
	letter-spacing: 0;
	transition: color var(--transition-base);
}
.blog-card__icon {
	--blog-card-link-icon: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 var(--blog-card-link-icon);
	width: var(--blog-card-link-icon);
	height: var(--blog-card-link-icon);
}
.blog-card__desc {
	font-weight: 400;
	font-size: 1.125rem;
	color: #777;
	line-height: 1.33;
}
.blog-card__image-wrapper {
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 100%;
	height: 0;
	padding: 0 0 56.25%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #23292c;
	border-radius: 1.1875rem;
}

.blog-card__image {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.blog-card:hover .blog-card__link {
	color: var(--color-text-dark);
}

.blog-card:hover .blog-card__date {
	color: rgba(0, 0, 0, 0.5);
}

.blog__accent-text {
	font-size: 1.5rem;
	line-height: 130%;
	letter-spacing: -0.03em;
	text-align: right;
	color: var(--color-accent);
}

.blog-categories {
	--category-height: 3.4375rem;
	margin: 0 0 6.25rem;
}

.blog-categories__list {
	display: flex;
	flex-wrap: wrap;
	gap: 1.25rem;
}

.blog-categories__item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--category-height);
	gap: 0.9375rem;
	padding: 0 1.25rem;
	font-family: var(--font-family-quaternary);
	font-weight: 600;
	font-size: 1.5rem;
	line-height: var(--category-height);
	color: #c0c5d0;
	background: #121618;
	border-radius: 0.625rem;
	transition: color var(--transition-base), background-color var(--transition-base);
}
.blog-categories__item--current {
	color: var(--color-text-primary);
	background: var(--color-accent);
}
.blog-categories__item-icon {
	--icon-size: 2.1875rem;
	flex: 0 0 var(--icon-size);
	width: var(--icon-size);
	height: var(--icon-size);
	object-fit: contain;
}
.blog-categories__item-text {
	white-space: nowrap;
	letter-spacing: 0;
}

.blog__more-wrapper {
	display: flex;
	justify-content: center;
}

.blog__more {
	padding: 0 4.125rem;
	margin: 7.9375rem 0 0;
}

@media (hover: hover) {
	.tg-banner__close:hover {
		color: var(--color-text-primary);
	}

	.blog-card .blog-card__link:hover {
		color: var(--color-accent);
	}
	a.blog-categories__item:hover {
		color: var(--color-text-primary);
		background: var(--color-accent-hover);
	}
}
@media (hover: none) {
	.tg-banner__close:active {
		color: var(--color-text-primary);
	}
	.blog-card .blog-card__link:active {
		color: var(--color-accent);
	}
	a.blog-categories__item:active {
		color: var(--color-text-primary);
		background: var(--color-accent-hover);
	}
}

@media (min-width: 576px) {
	.blog__grid .blog-card--wide .blog-card__content {
		flex: 0 0 40%;
		width: 40%;
	}

	.blog-card--wide .blog-card__inner {
		flex-direction: row;
	}
	.blog__grid .blog-card--wide {
		grid-column: 1 / calc(var(--blog-grid-cols) + 1);
	}

	.blog__grid .blog-card--wide .blog-card__image-wrapper {
		padding: 0;
		height: 100%;
		min-height: 18.75rem;
	}
}

@media (min-width: 1199px) {
	.blog__grid .blog-card__image-wrapper {
		padding: 0 0 41%;
	}

	.blog__grid .blog-card--wide .blog-card__image-wrapper {
		min-height: 26rem;
	}
}
@media (min-width: 1200px) {
	.blog__more {
		--btn-height: 4.25rem;
		font-size: 0.875rem;
	}
}
@media (max-width: 1199px) {
	.tg-banner {
		padding: 0 0 3.75rem;
		margin: 0 0 3.75rem;
	}

	.tg-banner__subtitle {
		font-size: 0.9375rem;
	}

	.tg-banner__title {
		font-size: 1.5rem;
	}

	.blog__title {
		font-size: 1.875rem;
	}

	.blog__title-icon {
		top: -0.1875rem;
		--icon-size: 1.5rem;
	}

	.blog__search-input {
		width: 25rem;
	}

	.blog__slider {
		--slider-gap: 0;
	}

	.blog-card {
		padding: 1rem;
		border-radius: 1.25rem;
	}

	.blog-card__meta {
		flex-wrap: wrap;
		gap: 0.625rem;
	}

	.blog-card__image-wrapper {
		border-radius: 0.75rem;
	}

	.blog-card__inner,
	.blog-card__content {
		gap: 1rem;
	}

	.blog-card__date,
	.blog-card__tag-inner {
		font-size: 0.8125rem;
	}

	.blog-card__title {
		font-size: 1.25rem;
	}

	.blog-card__desc {
		font-size: 1rem;
	}

	.blog__accent-text {
		text-align: initial;
		font-size: 1.125rem;
	}

	.blog-categories {
		--category-height: 2.75rem;
		margin: 0 0 3.75rem;
	}

	.blog-categories__list {
		gap: 1rem;
	}

	.blog-categories__item {
		gap: 0.625rem;
		padding: 0 0.9375rem;
		font-size: 1.25rem;
	}

	.blog-categories__item-icon {
		--icon-size: 1.75rem;
	}

	.blog__more {
		padding: 0 2.5rem;
		margin: 5rem 0 0;
	}
}
@media (max-width: 991px) {
	.blog__header {
		flex-wrap: wrap;
		margin: 0 0 1.25rem;
		gap: 1.25rem 2rem;
	}

	.blog__search {
		flex: 1 1 50%;
	}

	.blog__search-input {
		width: 100%;
	}

	.blog__grid {
		--blog-grid-cols: 2;
	}
}
@media (max-width: 767px) {
	.tg-banner {
		padding: 0 0 3.125rem;
		margin: 0 0 3.125rem;
	}

	.tg-banner__card {
		padding: 1rem;
		border-radius: 1rem;
	}
	.tg-banner__content {
	}
	.tg-banner__close {
		top: 0.75rem;
		right: 0.75rem;
	}

	.tg-banner__close-icon {
		width: 1.125rem;
		height: 1.125rem;
	}

	.tg-banner__title {
		font-size: 1.125rem;
	}
	.tg-banner__subtitle {
		padding-right: 2rem;
		font-size: 0.8125rem;
	}
	.tg-banner__button {
		--btn-height: 2.25rem;
		margin-top: 0.625rem;
		padding: 0 0.875rem;
	}

	.blog__slider {
		padding: 0 0 1.5625rem;
	}

	.blog__grid {
		--blog-grid-cols: 2;
		gap: 1rem;
	}

	.blog__title {
		font-size: 1.375rem;
	}

	.blog__title-icon {
		top: -0.125rem;
		--icon-size: 1.25rem;
	}

	.blog-card__title {
		font-size: 1.125rem;
	}

	.blog-card__desc {
		font-size: 0.875rem;
	}

	.blog__accent-text {
		font-size: 1rem;
	}

	.blog-categories {
		--category-height: 2.25rem;
		margin: 0 0 2.5rem;
	}

	.blog-categories__list {
		gap: 0.75rem;
	}

	.blog-categories__item {
		gap: 0.375rem;
		padding: 0 0.625rem;
		font-size: 0.8125rem;
	}

	.blog-categories__item-icon {
		--icon-size: 1.125rem;
	}

	.blog__more {
		padding: 0 1.25rem;
		margin: 1.25rem 0 0;
	}
}

@media (min-width: 576px) and (max-width: 1199px) {
	.blog-card--wide {
		order: 1;
	}
}

@media (max-width: 575px) {
	.blog__grid {
		--blog-grid-cols: 1;
	}
}
@media (max-width: 410px) {
	.tg-banner__bg {
		background-position: top 50% right -12rem;
	}

	.blog-categories__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.blog-categories__item {
		padding: 0 0.5rem;
	}

	.blog__more {
		width: 100%;
		padding: 0 0.625rem;
	}
}
