.footer::before,
.footer::after {
	display: none;
}

.hero__media {
	--image-width: 53.4375rem;
	--height-width: 50.4375rem;
	position: absolute;
	bottom: 4.5625rem;
	right: -7.5rem;
	z-index: 1;
	width: var(--image-width);
	height: var(--height-width);
	object-fit: contain;
	pointer-events: none;
}

/* .hero__media::before {
	content: "";
	position: absolute;
	bottom: -35rem;
	right: -74.375rem;
	z-index: -1;
	width: 188.875rem;
	height: 132.1875rem;
	background: url("../img/hero/light-sparkles.png");
} */

.hero__media-image {
	width: var(--image-width);
	height: var(--height-width);
	object-fit: contain;
	pointer-events: none;
}

.hero__bg--repair {
	bottom: -7.75rem;
	right: 4.6875rem;
	width: 53.4375rem;
	height: 50.4375rem;
}

@media (min-width: 75rem) {
	.hero__button {
		padding: 0 1.5625rem;
		font-size: 0.875rem;
	}
}

@media (max-width: 1199px) {
	.hero::after {
		display: none;
	}
	.hero__media {
		--image-width: 513px;
		--height-width: 484px;
		bottom: 73px;
		right: -120px;
	}
}

@media (max-width: 991px) {
	.hero__media {
		bottom: 20px;
	}
}

@media (max-width: 767px) {
	.hero__media {
		--image-width: 855px;
		--height-width: 807px;
		bottom: 73px;
		right: -120px;
	}
}

@media (max-width: 575px) {
	.hero__bg {
		right: auto;
		left: -6.875rem;
		bottom: 11.375rem;
		width: 36.25rem;
		height: 28.3125rem;
	}
}
