@charset "utf-8";
@import url("./fonts.css");
@import url("./variables.css");

::-webkit-scrollbar {
	width: 0.75rem;
}

::-webkit-scrollbar-track {
	background: white;
	position: relative;
}

::-webkit-scrollbar-thumb {
	background-color: #1a1a1a;
	border-radius: 1.25rem;
	border: 0.1875rem solid var(--white-100);
}

body {
	width: 100%;
	margin: 0;
	background-color: var(--color-background);
	color: var(--color-text-primary);
	font-family: var(--font-family);
	font-size: var(--font-size-base);
	line-height: 1.3;
	letter-spacing: -0.03rem;
}

*,
::after,
::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
}

article,
aside,
figure,
footer,
header,
main,
nav {
	display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
	outline: 0 !important;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

address {
	margin-bottom: 1rem;
	font-style: normal;
	line-height: inherit;
}

ol,
ul {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin-bottom: 0;
}

li,
ul {
	margin: 0;
	padding: 0;
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: 0.5rem;
	margin-left: 0;
}

b {
	font-weight: bolder;
}

a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
}

a:not([href]):not([class]) {
	color: inherit;
	text-decoration: none;
}

a:not([href]):not([class]):hover {
	color: inherit;
	text-decoration: none;
}

code,
pre {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 1em;
}

pre {
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
	-ms-overflow-style: scrollbar;
}

figure {
	margin: 0 0 1rem;
}

img {
	vertical-align: middle;
	border-style: none;
}

svg {
	overflow: hidden;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
}

caption {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	colorff: #6c757d;
	text-align: left;
	caption-side: bottom;
}

th {
	text-align: inherit;
	text-align: -webkit-match-parent;
}

label {
	display: inline-block;
	margin-bottom: 0.5rem;
}

button {
	border-radius: 0;
}

button:focus:not(:focus-visible) {
	outline: 0;
}

button,
input,
select,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border: none;
	background: none;
	padding: 0;
	font-family: inherit;
}

button,
input {
	overflow: visible;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

button,
select {
	text-transform: none;
}

[role="button"] {
	cursor: pointer;
}

select {
	word-wrap: normal;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
	-webkit-appearance: button;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
	cursor: pointer;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

textarea {
	overflow: auto;
	resize: vertical;
}

[type="number"]::-webkift-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	outline-offset: -2px;
	-webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}

output {
	display: inline-block;
}

[hidden] {
	display: none !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.2;
}

.h1,
h1 {
	font-size: 2.5rem;
}

.h2,
h2 {
	font-size: 2rem;
}

.h3,
h3 {
	font-size: 1.75rem;
}

.h4,
h4 {
	font-size: 1.5rem;
}

.h5,
h5 {
	font-size: 1.25rem;
}

.h6,
h6 {
	font-size: 1rem;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.wrapper {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1;
}

.container {
	width: 100%;
	padding: 0 var(--container-padding);
	margin: 0 auto;
}

.button {
	--btn-height: 68px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	height: var(--btn-height);
	padding: 0 20px;
	border-radius: var(--border-radius-sm);
	font-family: var(--font-family-tertiary);
	font-size: var(--font-size-sm);
	font-weight: 700;
	line-height: var(--btn-height);
	cursor: pointer;
	border: none;
	transition: all 0.3s ease;
}

.button--primary {
	background: var(--color-text-primary);
	color: var(--black-100);
}

.button--secondary {
	background: transparent;
	border: 1px solid var(--color-border);
	color: var(--color-text-primary);
}

/* Header */
.header {
	padding: 60px 0;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 69px;
}

.header__logo-img {
	height: 32px;
}

.header__nav {
	flex: 1 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	margin-right: 90px;
}

.header__catalog {
	display: flex;
	align-items: center;
	gap: 10px;
}

.header__catalog-text {
	font-family: var(--font-family-secondary);
	color: var(--color-text-primary);
	font-size: var(--font-size-sm);
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: -0.28px;
}

.header__catalog-icon {
}

.icon-menu {
	display: block;
	position: relative;
	width: 20px;
	height: 12px;
	cursor: pointer;
	z-index: 6;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
	content: "";
	transition: all 0.3s ease 0s;
	left: 0;
	position: absolute;
	width: 100%;
	height: 0.125rem;
	background-color: var(--white-100);
}

.icon-menu::before {
	top: 0;
}

.icon-menu::after {
	bottom: 0;
}

.icon-menu span {
	top: calc(50% - 0.0625rem);
}

.active > .icon-menu span {
	transform: scale(0);
}

.active > .icon-menu::before {
	transform: rotate(-45deg);
	top: calc(50% - 0.0625rem);
}

.active > .icon-menu::after {
	transform: rotate(45deg);
	bottom: calc(50% - 0.0625rem);
}

.header__menu {
	display: flex;
	gap: 50px;
	list-style: none;
}

.header__menu-link {
	font-family: var(--font-family-secondary);
	color: var(--color-text-primary);
	text-decoration: none;
	font-size: var(--font-size-sm);
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: -0.28px;
}

.header__actions {
	display: flex;
	gap: 20px;
}

.header__action-btn {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 20px;
	border: 1px solid var(--color-text-primary);
	border-radius: var(--border-radius-lg);
	background: transparent;
	color: var(--color-text-primary);
	cursor: pointer;
	font-size: var(--font-size-base);
	transition: all 0.3s ease;
}

.header__action-btn-indicator {
	width: 18px;
	height: 18px;
	background-color: var(--color-accent-green);
	border-radius: 50%;
}

/* Hero */
.hero {
	padding: 60px 0 196px;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.hero__container {
	position: relative;
}

.hero__bg {
	position: absolute;
	top: -224px;
	right: 0;
	z-index: 1;
	width: 1662px;
	height: 1080px;
	pointer-events: none;
}

.hero__badge,
.hero__title,
.hero__description,
.hero__buttons,
.hero__divider,
.hero__partners {
	position: relative;
	z-index: 2;
}

.hero__badge {
	display: inline-flex;
	align-items: center;
	gap: 20px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius-md);
	margin-bottom: 50px;
}

.hero__badge-accent {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 10px;
	background: var(--color-accent);
	color: var(--color-text-primary);
	border-radius: var(--border-radius-md);
	font-family: var(--font-family);
}

.hero__badge-icon {
	--icon-size: 14px;
	flex: 0 0 var(--icon-size);
	width: var(--icon-size);
	height: var(--icon-size);
}

.hero__badge-text {
	color: var(--color-text-primary);
	font-size: var(--font-size-xs);
	letter-spacing: -0.36px;
}

.hero__badge-description {
	color: var(--color-text-secondary);
	font-size: var(--font-size-sm);
	font-weight: 500;
	letter-spacing: -0.42px;
}

.hero__title {
	margin: 0 0 46px;
	font-family: var(--font-family-tertiary);
	font-size: var(--font-size-3xl);
	font-weight: 700;
	line-height: 1.5;
	color: var(--color-text-primary);
	letter-spacing: -0.96px;
	text-transform: uppercase;
}

.hero__description {
	max-width: 511px;
	margin: 0 0 71px;
	font-size: var(--font-size-lg);
	font-weight: 500;
	color: var(--color-text-secondary);
	letter-spacing: -0.54px;
}

.hero__buttons {
	display: flex;
	gap: 24px;
	margin-bottom: 69px;
}

.hero__divider {
	width: 738px;
	height: 1px;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 50%,
		rgba(255, 255, 255, 0) 100%
	);
	margin-bottom: 71px;
}

.hero__partners {
	display: flex;
	gap: 48px;
	align-items: center;
}

.hero__partner {
}

.hero__partner--whatsminer {
	width: 309px;
	height: 35px;
}

.hero__partner--bitmain {
	width: 201px;
	height: 25px;
}

.hero__partner--canaan {
	width: 131px;
	height: 35px;
}

/* Expert Recommendations Section */
.recommends {
	position: relative;
	overflow: hidden;
}

.recommends__container {
	padding-top: 140px;
	margin: 0 0 70px;
}

.recommends__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.recommends__expert {
	display: flex;
	align-items: center;
	gap: 20px;
	font-family: var(--font-family-tertiary);
	color: var(--color-text-primary);
}

.recommends__expert-image {
	width: 85px;
	height: 85px;
	border-radius: 50%;
	object-fit: cover;
}

.recommends__expert-name {
	font-weight: 700;
}

.recommends__expert-title {
	font-size: var(--font-size-xs);
	font-weight: 500;
}

.recommends__badge {
	display: inline-flex;
	padding: 11px 25px;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius-badge);
	color: var(--color-text-primary);
	font-weight: 600;
}

.recommends__badge span {
}

.recommends__content {
	display: flex;
	gap: 62px;
	margin-bottom: 20px;
}

.recommends__content-body {
	flex: 1 1;
}

.recommends__title {
	flex: 0 0 576px;
	margin: 0;
	padding: 30px 0 0;
	font-family: var(--font-family-tertiary);
	font-size: var(--font-size-4xl);
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -1.197px;
	text-transform: uppercase;
}

.recommends__description {
	max-width: 687px;
	margin: 20px 0 0;
}

/* Navigation */
.recommends__navigation {
	align-self: end;
	display: flex;
	gap: 13px;
	padding: 0 0 16px;
}

.recommends__button {
	width: 72px;
	height: 72px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: auto;
	background-color: var(--color-accent);
	color: var(--color-text-primary);
	transition: background-color var(--transition-base);
}

.recommends__button:disabled {
	background-color: var(--color-gray);
	color: var(--color-text-tertiary);
	cursor: default;
}

.recommends__button-icon {
	width: 24px;
	height: 24px;
}

/* Slider */
.recommends__slider {
	--slider-gap: 24px;
	position: relative;
	margin: 172px calc(var(--slider-gap) / -2) 0;
	padding-bottom: 40px;
}

.recommends__swiper,
.recommends__swiper .swiper-wrapper {
	overflow: visible;
}

.recommends__slide {
	max-width: 518px;
	padding: 0 calc(var(--slider-gap) / 2);
	height: auto;
}

/* Miner Card */
.miner-card {
	display: flex;
	flex-direction: column;
	justify-content: end;
	position: relative;
	background-color: var(--color-card-background);
	border-radius: var(--border-radius-lg);
	max-width: 100%;
	height: 100%;
}

.miner-card--highlighted {
	background-color: var(--color-accent);
}

.miner-card__rating {
	position: absolute;
	top: 21px;
	left: 24px;
	z-index: 2;
	display: flex;
	align-items: center;
	gap: 8px;
}

.miner-card__star {
	--icon-size: 22px;
	flex: 0 0 var(--icon-size);
	width: var(--icon-size);
	height: var(--icon-size);
}

.miner-card__rating-value {
	position: relative;
	top: 2px;
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-sm);
	font-weight: 600;
}

.miner-card__image-wrapper {
	position: relative;
	width: 100%;
	height: 357px;
	margin: 0 0 auto;
}

.miner-card__image {
	position: absolute;
	top: -70px;
	right: 0;
	width: 416px;
	height: 486px;
	object-fit: contain;
	pointer-events: none;
}

.miner-card__image--t21 {
	width: 416px;
	height: 486px;
}

.miner-card__image--m60 {
	top: -190px;
	width: 556px;
	height: 750px;
}

.miner-card__content {
	position: relative;
	z-index: 3;
	padding: 0 37px 33px;
}

.miner-card__brand {
	margin: 0;
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-sm);
	font-weight: 600;
	line-height: 1.5;
}

.miner-card__model {
	margin: 11px 0 0;
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-xl);
	font-weight: 600;
	line-height: 1.5;
}

.miner-card__description {
	margin: 14px 0 0;
	font-size: var(--font-size-sm);
	letter-spacing: -0.42px;
}

.miner-card__price {
	padding: 11px 27px;
	margin: 23px 0 0;
	display: inline-block;
	font-family: var(--font-family-tertiary);
	font-size: var(--font-size-sm);
	font-weight: 700;
	border-radius: var(--border-radius-sm);
	background-color: var(--color-white);
	color: var(--color-text-dark);
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
	left: calc(var(--slider-gap) / 2);
	width: calc(100% - var(--slider-gap));
}

/* Background Effects */
.recommends::before,
.recommends::after {
	content: "";
	position: absolute;
	width: 1328px;
	height: 1328px;
	border-radius: 50%;
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(38, 98, 246, 0.3) 0%,
		rgba(38, 98, 246, 0) 100%
	);
	z-index: -1;
}

.recommends::before {
	top: -245px;
	right: -324px;
}

.recommends::after {
	top: -464px;
	left: -694px;
	transform: rotate(-31.5deg);
}

@media (hover: hover) {
	.header__action-btn:hover {
		background: var(--color-text-primary);
		color: var(--black-100);
	}

	.button--primary:hover,
	.button--secondary:hover {
		background: var(--color-accent);
		color: var(--color-text-primary);
	}

	.recommends__button:not(:disabled):hover {
		background-color: var(--color-accent-hover);
	}
}

@media (hover: none) {
	.header__action-btn:active {
		background: var(--color-text-primary);
		color: var(--black-100);
	}

	.button--primary:active,
	.button--secondary:active {
		background: var(--color-accent);
		color: var(--color-text-primary);
	}

	.recommends__button:not(:disabled):hover {
		background-color: var(--color-accent-hover);
	}
}
