/* TODO в main css для .header и для .header.scrolled нужно убрать padding  */
.header {
	padding: 0;
}

.header.scrolled {
	padding: 0;
}

/* -------------------------------- */

.menu-open .header__catalog-icon,
.header__catalog-close-icon {
	display: none;
}

.header__catalog-close-icon {
	--icon-size: 1.25rem;
	width: var(--icon-size);
	height: var(--icon-size);
	color: var(--color-accent);
}

.menu-open .header__catalog-close-icon {
	display: block;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	background: rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 100%;
	-webkit-backdrop-filter: blur(0.125rem);
	backdrop-filter: blur(0.125rem);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity var(--transition-base), visibility var(--transition-base);
	-o-transition: opacity var(--transition-base), visibility var(--transition-base);
	transition: opacity var(--transition-base), visibility var(--transition-base);
}

.menu-open .overlay {
	opacity: 1;
	visibility: visible;
}

.header__wrapper {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 4.3125rem;
	width: 100%;
	padding: 3.75rem 0;
	-webkit-transition: padding var(--transition-base);
	-o-transition: padding var(--transition-base);
	transition: padding var(--transition-base);
}

.scrolled .header__wrapper {
	padding: 1.25rem 0;
}

.word-break {
	word-break: break-word;
	overflow-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.menu {
	--menu-top-offset: -0.6875rem;
	position: absolute;
	top: calc(100% + var(--menu-top-offset));
	left: 0;
	width: 100%;
	z-index: 100;
	background: var(--white-100);
	border: 0.0625rem solid #5c5c5c;
	border-radius: 1.875rem;
	color: var(--black-100);
	font-family: var(--font-family-quaternary);
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 120%;
	letter-spacing: initial;
	color: var(--black-100);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity var(--transition-base), visibility var(--transition-base);
	-o-transition: opacity var(--transition-base), visibility var(--transition-base);
	transition: opacity var(--transition-base), visibility var(--transition-base);
}

.scrolled .menu {
	--menu-top-offset: 0rem;
}

.menu-open .menu {
	opacity: 1;
	visibility: visible;
}

.menu__container {
	--window-height: 100dvh;
	--header-full-height: var(--header-height);
	overflow-y: auto;
	max-height: calc(
		var(--window-height, 100vh) - var(--header-full-height) - var(--menu-top-offset) - 0.625rem
	);
	padding: 1.9375rem 2.5rem;
}

.scrolled .menu__container {
	--header-full-height: var(--header-height-scrolled);
}

.menu__container::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.menu__container::-webkit-scrollbar-track {
	background: transparent;
}

.menu__container::-webkit-scrollbar-thumb {
	background: transparent;
}

.menu__container::-webkit-scrollbar-thumb:hover {
	background: transparent;
}

/* Для Firefox */
.menu__container {
	scrollbar-width: none;
}

/* Для IE/Edge */
.menu__container {
	-ms-overflow-style: none;
}

.menu__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 3.0625rem;
}

.menu-search {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.menu-search-label {
	position: absolute;
	top: 50%;
	left: 1.25rem;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.menu-search-icon {
	--search-icon-size: 1.4375rem;
	width: var(--search-icon-size);
	height: var(--search-icon-size);
}

.menu-search-input {
	width: 100%;
	padding: 0.8125rem 1.25rem 0.6875rem 3.4375rem;
	font-family: var(--font-family-quaternary);
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 150%;
	letter-spacing: -0.02em;
	color: var(--black-100);
	border: 0.0625rem solid #3d3d3d;
	border-radius: 1.875rem;
	background: transparent;
}

.menu-search-input::-webkit-input-placeholder {
	color: #808080;
}

.menu-search-input::-moz-placeholder {
	color: #808080;
}

.menu-search-input:-ms-input-placeholder {
	color: #808080;
}

.menu-search-input::-ms-input-placeholder {
	color: #808080;
}

.menu-search-input::placeholder {
	color: #808080;
}

.menu-search-input:focus {
	outline: 0;
}

.menu__header-nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 2.375rem;
}

.menu__header-nav-item {
	list-style: none;
}

.menu__header-nav-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 600;
	-webkit-transition: color var(--transition-base);
	-o-transition: color var(--transition-base);
	transition: color var(--transition-base);
}

.menu__header-nav-icon {
	--icon-size: 2.5rem;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 var(--icon-size);
	flex: 0 0 var(--icon-size);
	width: var(--icon-size);
	height: var(--icon-size);
}

.menu__body {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 27.1875rem 3.25rem 1fr;
	grid-template-columns: 27.1875rem 1fr;
	gap: 3.25rem;
	margin: 3.25rem 0 0;
}

.menu__services {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 2.5rem 1fr;
	grid-template-columns: repeat(2, 1fr);
	gap: 2.5rem;
	padding: 2.5rem;
	border-radius: 1.875rem;
	background: #f8f6fb;
}

.menu__services-item {
	list-style: none;
}

.menu__services-card {
	position: relative;
	height: 100%;
	-webkit-transition: background var(--transition-base);
	-o-transition: background var(--transition-base);
	transition: background var(--transition-base);
}

.menu__services-card::before {
	--top-offset: -1.0625rem;
	--left-offset: -1.25rem;
	--bottom-offset: -1.0625rem;
	--right-offset: -1.25rem;
	content: "";
	position: absolute;
	inset: var(--top-offset) var(--right-offset) var(--bottom-offset) var(--left-offset);
	z-index: 1;
	background: var(--white-100);
	border-radius: 1.25rem;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity var(--transition-base), visibility var(--transition-base);
	-o-transition: opacity var(--transition-base), visibility var(--transition-base);
	transition: opacity var(--transition-base), visibility var(--transition-base);
}

.menu__services-card-inner {
	position: relative;
	z-index: 2;
}

.menu__services-icon-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	--icon-wrapper-size: 3.125rem;
	width: var(--icon-wrapper-size);
	height: var(--icon-wrapper-size);
	background: #b4b5bd;
	border-radius: 0.3125rem;
	-webkit-transition: background var(--transition-base);
	-o-transition: background var(--transition-base);
	transition: background var(--transition-base);
}

.menu__services-icon {
	--icon-size: 1.5625rem;
	width: var(--icon-size);
	height: var(--icon-size);
}

.menu__services-title {
	display: inline-block;
	margin: 0.875rem 0 0;
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 120%;
	-webkit-transition: color var(--transition-base);
	-o-transition: color var(--transition-base);
	transition: color var(--transition-base);
}

.menu__services-description {
	margin: 0.9375rem 0 0;
	color: rgba(0, 0, 0, 0.5);
}

.menu__nav {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1.8125rem 1fr 1.8125rem 1fr;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.625rem 1.8125rem;
}

.menu-listing {
	position: relative;
	padding-left: 2.6875rem;
}

.menu-listing__title {
	display: inline-block;
	margin: 0 0 1.375rem;
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 1.2;
	-webkit-transition: color var(--transition-base);
	-o-transition: color var(--transition-base);
	transition: color var(--transition-base);
}

.menu-listing__title-icon {
	position: absolute;
	top: -0.0625rem;
	left: 0;
	--icon-size: 1.25rem;
	width: var(--icon-size);
	height: var(--icon-size);
	-webkit-box-flex: 0;
	-ms-flex: 0 0 var(--icon-size);
	flex: 0 0 var(--icon-size);
}

.menu-listing__items {
	display: -ms-grid;
	display: grid;
	gap: 0.6875rem;
}

.menu-listing__item {
	list-style: none;
}

.menu-listing__link {
	color: rgba(0, 0, 0, 0.5);
	-webkit-transition: color var(--transition-base);
	-o-transition: color var(--transition-base);
	transition: color var(--transition-base);
}

@media (hover: hover) {
	.menu__header-nav-link:hover,
	.menu-listing__link:hover,
	.menu-listing__title:hover {
		color: var(--color-accent);
	}

	.menu__services-card:hover .menu__services-icon-wrapper {
		background: var(--color-accent);
	}

	.menu__services-title:hover {
		color: var(--color-accent);
	}

	.menu__services-card:hover::before {
		opacity: 1;
		visibility: visible;
	}
}

@media (hover: none) {
	.menu__header-nav-link:active,
	.menu-listing__link:active,
	.menu-listing__title:active {
		color: var(--color-accent);
	}

	.menu__services-card:active .menu__services-icon-wrapper {
		background: var(--color-accent);
	}

	.menu__services-title:active {
		color: var(--color-accent);
	}
}

@media (min-width: 1200px) {
	.mobile-menu {
		display: none;
	}
}

@media (max-width: 1199px) {
	.menu-open {
		overflow: hidden;
	}

	.overlay {
		z-index: 101;
	}

	.header__action-btn {
		display: none;
	}

	.header__action-btn--menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.header__wrapper {
		padding: 40px 0;
	}

	.menu {
		display: none;
	}

	.mobile-menu {
		display: block;
		position: fixed;
		top: 0;
		left: -100%;
		z-index: 102;
		max-width: 25rem;
		width: 100%;
		height: 100%;
		background: var(--white-100);
		color: var(--black-100);
		overflow: hidden;
		font-family: var(--font-family-quaternary);
		opacity: 0;
		visibility: hidden;
		-webkit-transition: left var(--transition-base);
		-o-transition: left var(--transition-base);
		transition: left var(--transition-base);
	}

	.menu-open .mobile-menu {
		left: 0;
		opacity: 1;
		visibility: visible;
	}

	.mobile-menu__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		height: 100%;
		overflow: hidden;
	}

	.mobile-menu__header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		gap: 3.0625rem;
		font-size: 1rem;
		font-family: var(--font-family-quaternary);
		padding: 1.25rem 0.75rem;
		border-bottom: 0.0625rem solid #f8f6fb;
		-webkit-transition: opacity ease 0.2s, visibility ease 0.2s;
		-o-transition: opacity ease 0.2s, visibility ease 0.2s;
		transition: opacity ease 0.2s, visibility ease 0.2s;
	}

	.mobile-menu__nav-link {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		gap: 0.625rem;
		width: 100%;
		padding: 0.75rem 1rem 0.75rem 0.75rem;
		font-size: 0.9375rem;
		font-weight: 500;
		line-height: 120%;
		color: inherit;
		-webkit-transition: color var(--transition-base);
		-o-transition: color var(--transition-base);
		transition: color var(--transition-base);
	}

	.mobile-menu__nav-link:active {
		background: #f8f6fb;
	}

	.mobile-menu__nav-link--nested::after,
	.mobile-menu__nav-link--dropdown::after {
		content: "";
		width: 1.25rem;
		height: 1.25rem;
		background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 19L16 12L9 5" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')
			no-repeat center center / contain;
	}

	.mobile-menu__nav-link--dropdown::after {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-transition: -webkit-transform var(--transition-base);
		transition: -webkit-transform var(--transition-base);
		-o-transition: transform var(--transition-base);
		transition: transform var(--transition-base);
		transition: transform var(--transition-base), -webkit-transform var(--transition-base);
	}

	.mobile-menu__nav-link--dropdown.active::after {
		-webkit-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		transform: rotate(270deg);
	}

	.mobile-menu__nav-item,
	.mobile-menu__nav-dropdown-item {
		list-style: none;
	}

	.mobile-menu__nav-dropdown-link {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 0.5rem 1.5rem;
		font-size: 0.875rem;
		font-weight: 400;
		color: rgba(0, 0, 0, 0.5);
	}

	.mobile-menu__nav-dropdown {
		display: none;
	}

	.mobile-menu__nav-link--dropdown.active + .mobile-menu__nav-dropdown {
		display: block;
	}

	.mobile-menu__content,
	.mobile-menu__nested {
		position: absolute;
		inset: 0;
		z-index: 1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		background: var(--white-100);
		height: 100vh;
		height: 100dvh;
		overflow-y: auto;
	}

	.mobile-menu__content {
		-webkit-transition: opacity var(--transition-base), visibility var(--transition-base),
			-webkit-transform var(--transition-base);
		transition: opacity var(--transition-base), visibility var(--transition-base),
			-webkit-transform var(--transition-base);
		-o-transition: opacity var(--transition-base), visibility var(--transition-base),
			transform var(--transition-base);
		transition: opacity var(--transition-base), visibility var(--transition-base),
			transform var(--transition-base);
		transition: opacity var(--transition-base), visibility var(--transition-base),
			transform var(--transition-base), -webkit-transform var(--transition-base);
	}
	.mobile-menu__content.hide {
		-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	.mobile-menu__content.hide .mobile-menu__header {
		opacity: 0;
		visibility: hidden;
	}

	.mobile-menu__nested {
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: opacity var(--transition-base), visibility var(--transition-base),
			-webkit-transform var(--transition-base);
		transition: opacity var(--transition-base), visibility var(--transition-base),
			-webkit-transform var(--transition-base);
		-o-transition: opacity var(--transition-base), visibility var(--transition-base),
			transform var(--transition-base);
		transition: opacity var(--transition-base), visibility var(--transition-base),
			transform var(--transition-base);
		transition: opacity var(--transition-base), visibility var(--transition-base),
			transform var(--transition-base), -webkit-transform var(--transition-base);
	}

	.mobile-menu__nested.active {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.mobile-menu__close {
		margin-left: auto;
		color: inherit;
	}

	.mobile-menu__close:active {
		color: var(--color-accent);
	}

	.mobile-menu__back {
		font-size: 1rem;
		font-family: var(--font-family-quaternary);
		font-weight: 600;
		color: var(--color-accent);
		-webkit-transition: color var(--transition-base);
		-o-transition: color var(--transition-base);
		transition: color var(--transition-base);
	}

	.mobile-menu__logo-img {
		width: 12rem;
		height: 1.5625rem;
		-o-object-fit: contain;
		object-fit: contain;
	}

	.mobile-menu__search {
		padding: 1rem 0.75rem 0.625rem;
	}

	.menu-search-input {
		padding: 0.375rem 0.75rem 0.375rem 2.3125rem;
	}

	.menu-search-label {
		left: 0.85rem;
	}

	.menu-search-icon {
		--search-icon-size: 1.125rem;
	}

	.mobile-menu-close svg {
		--icon-size: 1.5rem;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 var(--icon-size);
		flex: 0 0 var(--icon-size);
		width: var(--icon-size);
		height: 0 0 var(--icon-size);
	}

	.mobile-menu__footer {
		margin: auto 0 0;
		padding: 1.25rem 0.75rem;
		border-top: 0.0625rem solid #f8f6fb;
	}

	.mobile-menu__help-btn {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		gap: 0.375rem;
		padding: 0.375rem 0.75rem 0.4375rem;
		border: 0.0625rem solid var(--black-100);
		border-radius: 1.25rem;
		background: transparent;
		color: var(--black-100);
		cursor: pointer;
		font-size: 0.875rem;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-transition: all var(--transition-base);
		-o-transition: all var(--transition-base);
		transition: all var(--transition-base);
	}

	.mobile-menu__help-btn:active {
		background-color: var(--black-10);
	}

	.mobile-menu__hepl-btn-indicator {
		--indicator-size: 0.75rem;
		width: var(--indicator-size);
		height: var(--indicator-size);
		background-color: var(--color-accent-green);
		border-radius: 50%;
	}

	.mobile-menu__nav-list {
		padding-bottom: 0.625rem;
	}
}

@media (max-width: 767px) {
	.header__wrapper {
		padding: 25px 0;
	}
}
@media (max-width: 479px) {
	.mobile-menu {
		max-width: 100%;
	}
}
