/* TODO при добавлении градиента в нижнюю часть шапки для всех страниц будет необходимо исправить некоторые отступы, которые описал в README файле   */
.header__wrapper {
	position: relative;
}

.header__wrapper::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 0.0625rem;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 50%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.5;
	transition: opacity 0.3s ease 0.3s;
}

.scrolled .header__wrapper::after {
	opacity: 0;
	transition: opacity 0s;
}

@media (max-width: 1199px) {
	.header__wrapper {
		padding: 2.5rem 0;
	}
}
@media (max-width: 767px) {
	.header__wrapper {
		padding: 1.5625rem 0;
	}
}

.calc-single {
}
.calc-single::before {
	position: absolute;
	top: -42.75rem;
	left: -38.25rem;
	z-index: -1;
	content: "";
	width: 47rem;
	height: 131.5rem;
	background: -o-radial-gradient(
		50% 50%,
		50% 50%,
		rgba(38, 98, 246, 0.3) 0%,
		rgba(38, 98, 246, 0) 100%
	);
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(38, 98, 246, 0.3) 0%,
		rgba(38, 98, 246, 0) 100%
	);
	-webkit-transform: rotate(32deg);
	-ms-transform: rotate(32deg);
	transform: rotate(32deg);
	pointer-events: none;
}

.calc-single::after {
	content: "";
	position: absolute;
	top: -38.3125rem;
	right: -41.875rem;
	z-index: -1;
	width: 83rem;
	height: 83rem;
	background: -o-radial-gradient(
		50% 50%,
		50% 50%,
		rgba(38, 98, 246, 0.3) 0%,
		rgba(38, 98, 246, 0) 100%
	);
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(38, 98, 246, 0.3) 0%,
		rgba(38, 98, 246, 0) 100%
	);
	pointer-events: none;
	opacity: 0.3;
}
.calc-single__container {
}
.calc-single__top {
	display: grid;
	grid-template-columns: 25.3125rem 1fr;
	gap: 1.25rem 1.375rem;
}
.calc-single__header {
	grid-column: 1 / -1;
	display: flex;
	justify-content: space-between;
	gap: 1.25rem;
	padding: 5.8125rem 0 0;
}
.calc-single__header-info {
}
.calc-single__title {
	margin: 0;
	font-family: var(--font-family-quaternary);
	font-weight: 700;
	font-size: 3rem;
	line-height: 140%;
	color: var(--color-text-primary);
	letter-spacing: initial;
}
.calc-single__badges {
	display: flex;
	flex-wrap: wrap;
	gap: 0.625rem;
	margin: 1.25rem 0 0;
}
.calc-single__badge {
	--badge--height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	padding: 0.4375rem 1.5rem;
	min-height: var(--badge--height);
	background: var(--color-accent);
	font-family: var(--font-family-tertiary);
	font-weight: 700;
	font-size: 0.875rem;
	line-height: 130%;
	letter-spacing: 0;
	color: var(--color-text-primary);
}
.calc-single__badge--profit {
	padding: 0 1.0625rem 0 0.5625rem;
	background: linear-gradient(270deg, #72b13b 0%, rgba(59, 177, 100, 0) 100%);
	font-family: var(--font-family-quaternary);
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 150%;
	letter-spacing: -0.02em;
}
.calc-single__badge--new {
	letter-spacing: -0.03em;
	line-height: 1;
}
.calc-single__badge--unavailable {
	background: #f65726;
}
.calc-single__manufacturer {
	padding: 1.125rem 0 0;
}
.calc-single__manufacturer-icon {
	width: auto;
	height: 2.0625rem;
}
.calc-single__product {
}
.calc-product {
}
.calc-product__img-wrapper {
	--calc-img-size: 25.3125rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 var(--calc-img-size);
	width: var(--calc-img-size);
	height: var(--calc-img-size);
}
.calc-product__img {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}
.calc-product__specs {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 0.625rem 1fr 0.625rem 1fr;
	grid-template-columns: repeat(3, 1fr);
	-ms-grid-columns: -webkit-min-content 0.625rem -webkit-min-content 0.625rem -webkit-min-content;
	-ms-grid-columns: min-content 0.625rem min-content 0.625rem min-content;
	grid-template-columns: repeat(3, -webkit-min-content);
	grid-template-columns: repeat(3, min-content);
	gap: 0.625rem;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.calc-product__spec {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	gap: 0.1875rem;
	padding: 0.25rem 0;
	border-radius: 1.8125rem;
}
.calc-product__spec-label {
	color: #a4a4a4;
	font-family: var(--font-family-quinary);
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: -0.02em;
}
.calc-product__spec-value {
	color: var(--color-text-primary);
	font-family: var(--font-family-secondary);
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: -0.02em;
}
.calc-product__spec-value--coin {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 0.625rem;
}
.calc-product__coin-icon {
	--coin-size: 1.0625rem;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 var(--coin-size);
	flex: 0 0 var(--coin-size);
	width: var(--coin-size);
	height: var(--coin-size);
}
.calc-product__info {
	padding: 0 0 0 0.3125rem;
	margin: 3.125rem 0 0;
}
.calc-product__title,
.calc-single__subtitle {
	margin: 0;
	font-family: var(--font-family-secondary);
	font-weight: 600;
	font-size: 2rem;
	line-height: 140%;
	letter-spacing: -0.02em;
	color: var(--color-text-primary);
}
.calc-product__description {
	margin: 2.125rem 0 0;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 130%;
	letter-spacing: -0.03em;
	color: var(--color-text-primary);
}
.calc-single__top-info {
	display: flex;
	flex-direction: column;
	gap: 2.1875rem;
}
.calc-single__product-cards {
}
.calc-single__help {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.25rem;
	padding: 0 1.6875rem 0 3.3125rem;
	font-family: var(--font-family-quaternary);
	font-weight: 400;
	font-size: 1rem;
	line-height: 156%;
	color: var(--color-text-primary);
	letter-spacing: normal;
}
.calc-single__help-text {
}
.calc-single__help-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	flex: 1 0 auto;
	padding: 0.625rem 4.9375rem;
	border-radius: 1.25rem;
	font-family: var(--font-family-tertiary);
	font-weight: 700;
	font-size: 0.875rem;
	line-height: 130%;
	letter-spacing: -0.03em;
	color: var(--color-text-primary);
	background-color: var(--color-card-background);
	transition: background var(--transition-base);
}
.calc-single__help-image-wrapper {
	position: relative;
}

.calc-single__help-image-wrapper::before {
	--indicator-size: 0.5rem;
	content: "";
	position: absolute;
	top: 0.125rem;
	left: -0.0625rem;
	z-index: 1;
	width: var(--indicator-size);
	height: var(--indicator-size);
	background: #84f000;
	border: 0.0625rem solid #070809;
	border-radius: 50%;
}

.calc-single__help-image {
	--img-size: 2.25rem;
	flex: 0 0 var(--img-size);
	width: var(--img-size);
	height: var(--img-size);
	border-radius: 50%;
}
.calc-single__help-button-text {
}
.calc-single__profit-distribution {
	display: grid;
	grid-template-columns: 16.3125rem 1fr;
	gap: 1.25rem;
}
.profit-distribution {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 22.5rem;
	background: linear-gradient(180deg, #72b13b 0%, rgba(59, 177, 100, 0) 100%);
	border-radius: 1.875rem;
}
.profit-distribution__section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.9375rem;
	color: var(--color-text-primary);
}
.profit-distribution__section--profit {
	flex: 0 0 50%;
}
.profit-distribution__section--electricity {
	flex: 0 0 48%;
	background: rgba(246, 86, 38, 0.7);
	border-radius: 1.875rem;
}
.profit-distribution__icon {
	--icon-size: 1.5rem;
	flex: 0 0 var(--icon-size);
	width: var(--icon-size);
	height: var(--icon-size);
}

.profit-distribution__icon--electricity {
	--icon-size: 1rem;
	margin-top: -0.5rem;
}
.profit-distribution__percentage {
	font-family: var(--font-family-secondary);
	font-weight: 900;
	font-size: 1rem;
	line-height: 150%;
	letter-spacing: -0.02em;
	text-align: center;
}
.profit-distribution__label {
	font-family: var(--font-family-quaternary);
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 150%;
	letter-spacing: -0.02em;
	text-align: center;
}
.calc-single__mid {
}

/* Product Cards */
.product-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.25rem;
}
.product-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 1.25rem;
	padding: 2.1875rem;
	background: var(--color-card-background);
	border-radius: 1.875rem;
	padding: 1.875rem 2.25rem;
	color: var(--color-text-primary);
	font-family: var(--font-family-quaternary);
	font-size: 1rem;
	line-height: 156%;
	letter-spacing: initial;
}
.product-item__col {
}
.product-item__badge {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 1.1875rem;
	padding: 0 0.625rem 0.0625rem;
	font-family: var(--font-family);
	font-size: 0.75rem;
	line-height: 1.1875rem;
	letter-spacing: 0;
	color: var(--color-text-primary);
	border: 0.0625rem solid var(--color-text-primary);
	border-radius: 2.875rem;
}

.product-item__badge--preorder {
	color: var(--color-accent);
	border: 0.0625rem solid var(--color-accent);
}

.product-item__name {
	margin: 0.5rem 0 0;
}
.product-item__info-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 0.25rem;
	margin: 0.5rem 0 0;
}
.product-item__info-item-title {
	color: rgba(255, 255, 255, 0.5);
}
.product-item__info-item-value {
	font-weight: 700;
}
.product-item__col--actions {
}
.product-item__price,
.product-item__price-new {
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 104%;
	text-align: right;
	color: var(--color-accent);
}
.product-item__price-old {
	margin: 0.6875rem 0 0;
	font-weight: 500;
	font-size: 1.0625rem;
	line-height: 104%;
	text-decoration: line-through;
	text-align: right;
	color: #373e41;
}
.product-item__card-btn {
	--btn-height: 2.8125rem;
	gap: 0.625rem;
	margin: 1.125rem 0 0;
	border-radius: 1.25rem;
	padding: 0 1.5625rem;
	font-family: var(--font-family-secondary);
	font-weight: 400;
	font-size: 0.875rem;
}

.product-item__card-cart-icon {
	--icon-size: 0.8125rem;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 var(--icon-size);
	flex: 0 0 var(--icon-size);
	width: var(--icon-size);
	height: var(--icon-size);
}

.calc-single__tables {
	margin: 2.8125rem 0 0;
}

.calc-single__tables--secondary {
	margin: 3.25rem 0 0;
}

.calc-single__tables-grid {
	display: grid;
	grid-template-columns: 43rem 1fr;
	gap: 1.25rem;
}

.calc-single__subtitle {
	margin: 0 0 2.875rem;
}

.calc-single__table {
	--table-border-radius: 1.875rem;
	--table-row-offset: 0.25rem;
	border-collapse: separate;
	border-spacing: 0 var(--table-row-offset);
	width: 100%;
	overflow: hidden;
	margin: calc(var(--table-row-offset) * -1) 0;
}

.calc-single__tables-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.25rem;
	height: 100%;
}

.calc-single__table th,
.calc-single__table td {
	padding: 0.75rem 1.875rem;
	font-family: var(--font-family-quaternary);
	font-weight: 400;
	font-size: 1rem;
	line-height: 156%;
	color: #d2d2d2;
}

.calc-single__table th {
	font-weight: 700;
	color: #667085;
}

.calc-single__table tfoot td {
	height: 3.0625rem;
}

.calc-single__table thead tr,
.calc-single__table tfoot tr {
	background: var(--color-card-background);
}

.calc-single__table thead th:first-child {
	border-radius: var(--table-border-radius) 0 0 0;
}
.calc-single__table thead th:last-child {
	border-radius: 0 var(--table-border-radius) 0 0;
}
.calc-single__table tfoot td:first-child {
	border-radius: 0 0 0 var(--table-border-radius);
}
.calc-single__table tfoot td:last-child {
	border-radius: 0 0 var(--table-border-radius) 0;
}

.calc-single__table tbody tr {
	background: rgba(25, 30, 32, 0.5);
}

.calc-single__table tbody tr.active {
	background: rgba(25, 30, 32, 0.5)
		linear-gradient(270deg, rgba(114, 177, 59, 0.6) 0%, rgba(59, 177, 100, 0) 100%);
}

.calc-single__table tbody tr.active td {
	position: relative;
	z-index: 2;
}

.calc-single__table--specs th:nth-child(1),
.calc-single__table--specs td:nth-child(1) {
	width: 50%;
}

.calc-single__table--profit th:nth-child(1),
.calc-single__table--profit td:nth-child(1) {
	width: 35%;
}

td.calc-single__table-negative {
	color: #f65626;
}

.calc-single__table-generate {
	--indicator-color: #72b13b;
	display: flex;
	align-items: center;
	gap: 0.375rem;
}

.calc-single__table-generate--1 {
	--indicator-color: #f65626;
}
.calc-single__table-generate--2,
.calc-single__table-generate--3 {
	--indicator-color: #f6d726;
}

.calc-single__table-generate::before {
	--indicator-size: 0.8125rem;
	content: "";
	flex: 0 0 var(--indicator-size);
	width: var(--indicator-size);
	height: var(--indicator-size);
	background: var(--indicator-color);
	border-radius: 50%;
}

.calc-single__table-coin {
	--action-btn-icon-size: 1.5rem;
	display: flex;
	align-items: center;
	gap: 0.375rem;
}

.calc-single__table-coin-icon {
	--icon-size: 1.5625rem;
	flex: 0 0 var(--icon-size);
	width: var(--icon-size);
	height: var(--icon-size);
	object-fit: cover;
	border-radius: 50%;
}

@media (hover: hover) {
	.calc-single__help-button:hover {
		background: var(--color-accent);
	}
}

@media (hover: none) {
	.calc-single__help-button:active {
		background: var(--color-accent);
	}
}
@media (max-width: 1199px) {
	.calc-single::before {
		top: -72.8125rem;
		left: -20.25rem;
	}

	.calc-single::after {
		top: -0.9375rem;
		right: -23.375rem;
		width: 66.375rem;
		height: 66.375rem;
	}

	.calc-single__header {
		padding: 2.5rem 0 0;
	}

	.product-cards,
	.calc-single__tables-wrapper {
		gap: 1rem;
	}

	.product-item,
	.profit-distribution,
	.profit-distribution__section--electricity {
		border-radius: 1.25rem;
	}

	.calc-single__table {
		--table-border-radius: 1.25rem;
	}

	.product-item {
		font-size: 0.8125rem;
	}

	.product-item__price,
	.product-item__price-new {
		font-size: 1.25rem;
	}

	.product-item__price-old {
		margin: 0.375rem 0 0;
		font-size: 0.9375rem;
	}

	.product-item__card-btn {
		--btn-height: 2.25rem;
		gap: 0.375rem;
		margin: 0.75rem 0 0;
		padding: 0 0.875rem;
		font-size: 0.75rem;
	}

	.calc-single__title {
		font-size: 1.875rem;
	}

	.calc-single__badges {
		margin: 1rem 0 0;
	}

	.calc-single__badge {
		--badge--height: 1.75rem;
		font-size: 0.8125rem;
	}

	.calc-single__manufacturer {
		padding: 0.5rem 0 0;
	}

	.calc-single__manufacturer-icon {
		height: 1.75rem;
	}

	.calc-single__top {
		grid-template-columns: 1fr;
	}

	.calc-product__title,
	.calc-single__subtitle {
		font-size: 1.625rem;
	}

	.calc-single__subtitle {
		margin: 0 0 1.875rem;
	}

	.calc-product__spec-label,
	.calc-product__spec-value {
		font-size: 0.9375rem;
	}

	.calc-product__info {
		padding: 0;
		margin: 1.875rem 0 0;
	}

	.calc-product__description {
		margin: 1.5rem 0 0;
	}

	.calc-single__help {
		padding: 0 1.25rem;
		font-size: 0.9375rem;
	}

	.calc-single__help-button {
		padding: 0.5rem 1.875rem;
	}

	.calc-single__tables-grid {
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	.calc-single__tables--secondary .calc-single__tables-grid {
		gap: 2.5rem;
	}

	.calc-single__tables {
		margin: 2.5rem 0 0;
	}

	.calc-single__table {
		table-layout: fixed;
	}

	.calc-single__table th,
	.calc-single__table td {
		padding: 0.625rem 1.25rem;
		font-size: 0.9375rem;
	}

	.calc-single__table tfoot td {
		height: 2.6875rem;
	}

	.profit-distribution__percentage {
		font-size: 0.9375rem;
	}
}

@media (max-width: 991px) {
	.product-cards {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

	.calc-product__img-wrapper {
		--calc-img-size: 18.75rem;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.calc-product {
		display: flex;
		align-items: center;
		gap: 1.25rem;
	}
}

@media (max-width: 767px) {
	.calc-single::before {
		opacity: 0.5;
	}

	.calc-single::after {
		top: 11.0625rem;
		right: -21.375rem;
		width: 40rem;
		height: 40rem;
		opacity: 0.2;
	}

	.product-item,
	.profit-distribution,
	.profit-distribution__section--electricity {
		border-radius: 0.875rem;
	}

	.calc-single__table {
		--table-border-radius: 0.875rem;
	}

	.product-item {
		padding: 1.25rem var(--container-padding);
	}

	.product-info__specs {
		gap: 0.625rem;
	}

	.product-info__spec-value,
	.product-info__spec-name {
		font-size: 0.875rem;
	}

	.calc-single__header {
		flex-direction: column-reverse;
		padding: 1.25rem 0 0;
	}

	.calc-single__manufacturer-icon {
		height: 1.25rem;
	}

	.calc-product__img-wrapper {
		margin: 0 auto;
	}

	.calc-product__spec-label,
	.calc-product__spec-value {
		font-size: 0.875rem;
	}

	.calc-product__title,
	.calc-single__subtitle {
		font-size: 1.375rem;
	}

	.calc-single__tables--secondary .calc-single__tables-grid {
		gap: 2rem;
	}

	.calc-single__tables {
		margin: 2rem 0 0;
	}

	.calc-single__subtitle {
		margin: 0 0 1.5rem;
	}

	.calc-product__info {
		margin: 1.25rem 0 0;
	}

	.calc-product__description {
		margin: 0.875rem 0 0;
	}

	.calc-single__help {
		flex-direction: column;
		gap: 0.75rem;
		padding: 0;
		font-size: 0.875rem;
		text-align: center;
	}

	.calc-single__help-button {
		padding: 0.5rem 1.25rem;
		font-size: 0.8125rem;
	}

	.calc-single__help-image {
		--img-size: 1.75rem;
	}

	.calc-single__help-image-wrapper::before {
		--indicator-size: 0.4375rem;
	}

	.calc-single__profit-distribution {
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	.profit-distribution {
		height: 18.75rem;
	}

	.profit-distribution__section--electricity {
		flex: 0 0 50%;
	}

	.calc-single__badge {
		padding: 0.4375rem 0.75rem;
		font-size: 0.8125rem;
		line-height: 1.2;
	}

	.calc-single__table th,
	.calc-single__table td {
		padding: 0.5rem 0.3125rem;
		font-size: 0.875rem;
	}

	.calc-single__table th:first-child,
	.calc-single__table td:first-child {
		padding-left: var(--container-padding);
	}

	.calc-single__table th:last-child,
	.calc-single__table td:last-child {
		padding-right: var(--container-padding);
	}

	.calc-single__table tfoot td {
		height: 2.375rem;
	}

	.calc-single__table-coin-icon {
		--icon-size: 1.25rem;
	}

	/* Adaptive table */
	.calc-single__table[data-adaptive="767"] {
		border-spacing: 0;
		margin: 0;
	}

	.calc-single__table[data-adaptive="767"],
	.calc-single__table[data-adaptive="767"] tr {
		display: block;
	}

	.calc-single__table[data-adaptive="767"] thead,
	.calc-single__table[data-adaptive="767"] tfoot {
		display: block;
	}

	.calc-single__table[data-adaptive="767"] thead tr,
	.calc-single__table[data-adaptive="767"] tfoot tr {
		display: block;
		height: 2.375rem;
	}
	.calc-single__table[data-adaptive="767"] thead tr {
		margin: 0 0 var(--table-row-offset);
		border-radius: var(--table-border-radius) var(--table-border-radius) 0 0;
	}
	.calc-single__table[data-adaptive="767"] tfoot tr {
		margin: var(--table-row-offset) 0 0;
		border-radius: 0 0 var(--table-border-radius) var(--table-border-radius);
	}

	.calc-single__table[data-adaptive="767"] thead th,
	.calc-single__table[data-adaptive="767"] tfoot td {
		font-size: 0;
		color: transparent;
	}

	.calc-single__table[data-adaptive="767"] tbody {
		display: grid;
		background: rgba(25, 30, 32, 0.5);
	}

	.calc-single__table[data-adaptive="767"] tbody tr {
		background: transparent;
		border-bottom: var(--table-row-offset) solid var(--color-background);
	}

	.calc-single__table[data-adaptive="767"] tbody tr:last-child {
		border-bottom: none;
	}

	.calc-single__table[data-adaptive="767"] tbody td {
		display: flex;
		align-items: center;
		width: 100%;
		border-bottom: 0.0625rem solid var(--color-background);
		font-weight: 600;
	}

	.calc-single__table[data-adaptive="767"] tbody td[data-label] {
		justify-content: space-between;
		font-weight: 400;
	}

	.calc-single__table[data-adaptive="767"] tbody td:last-child {
		border-bottom: none;
	}

	.calc-single__table[data-adaptive="767"] tbody td {
		padding: 0.3125rem var(--container-padding);
	}

	.calc-single__table[data-adaptive="767"] tbody td::before {
		content: attr(data-label);
		color: #667085;
		font-weight: 600;
	}
}

@media (max-width: 414px) {
	.product-item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
	}

	.product-item__price,
	.product-item__price-new,
	.product-item__price-old {
		text-align: start;
	}

	.product-item__col,
	.product-item__card-btn {
		width: 100%;
	}
}
