/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 3 versions
*/

/* TODO вынести в main.css */

.swiper-scrollbar,
.swiper-scrollbar-drag {
	border-radius: 30px;
	overflow: hidden;
}

@media (max-width: 1199px) {
	.swiper-horizontal > .swiper-scrollbar,
	.swiper-scrollbar.swiper-scrollbar-horizontal {
		left: 0;
		width: 100%;
	}
}
