:root {
	/* Colors */
	--color-background: #070809;
	--color-text-primary: #ffffff;
	--color-text-secondary: #99999b;
	--color-text-tertiary: #626262;
	--color-text-dark: #000000;
	--color-accent: #2467e0;
	--color-accent-hover: #1e56b6;
	--color-card-background: #191e20;
	--color-card-background-light: #ffffff;
	--color-gray: #333333;
	--color-white: #ffffff;
	--color-border: #434343;
	--color-border-dark: #3f3f3f;
	--color-border-darker: #2e2e2e;
	--color-accent-light: rgba(36, 103, 224, 0.3);
	--color-accent-green: #26f64c;
	--color-button-hover: rgba(255, 255, 255, 0.1);
	--white-100: #fff;
	--white-10: rgba(255, 255, 255, 0.1);
	--black-100: #000;

	/* Fonts */
	--font-family: "Involve", sans-serif;
	--font-family-secondary: "Aktiv Grotesk Ex Trial", sans-serif;
	--font-family-tertiary: "TT Travels Next Trl", sans-serif;
	--font-family-quaternary: "Inter", sans-serif;

	/* Typography */
	--font-size-xs: 12px;
	--font-size-sm: 14px;
	--font-size-base: 16px;
	--font-size-lg: 18px;
	--font-size-xl: 24px;
	--font-size-2xl: 32px;
	--font-size-3xl: 48px;
	--font-size-4xl: 60px;

	--gap-xs: 5px;
	--gap-sx: 8px;
	--gap-sm: 10px;
	--gap-md: 20px;
	--gap-lg: 30px;
	--gap-xl: 40px;
	--gap-2xl: 50px;
	--gap-3xl: 70px;

	/* Border radius */
	--border-radius-sm: 8px;
	--border-radius-md: 10px;
	--border-radius-lg: 20px;
	--border-radius-badge: 42px;

	/* Container */
	--container-padding: 120px;

	/* Transitions */
	--transition-base: 0.3s ease;

	/* Slider */
	--swiper-scrollbar-width: 3px;
	--swiper-scrollbar-bg-color: #252525;
	--swiper-scrollbar-drag-bg-color: #bbb;
	--swiper-scrollbar-border-radius: 0;
}
